---
title: Subvisual - Minimum Delightful Product
page: work
---

.Panel
  .u-navPlaceholder
  = partial 'work/product_development/mdp/hero'
= partial 'work/product_development/mdp/steps'
= partial 'work_with_us', locals: { text: "Do you have something exciting for us to start working on?", buttonText: "Let's get to work" }
= partial 'subvisual_separator'
= partial 'footer'
