.root {
  position: relative;

  height: 100%;

  overflow: hidden;
}

.img,
.darkImg {
  height: 100%;

  transition: all 0.2s ease-in-out;
}

.darkImg {
  filter: grayscale(100%);
}

.darkImg:hover {
  filter: initial;
}
