.Heading {
  color: $Theme-color-tealish;
}

.Heading.Heading--alternative {
  @include theme-typography(heading);

  color: $Theme-color-white;
}

.Heading.Heading--section {
  font-family: $Theme-fontFamily-futura;
  font-size: 28px;
  font-weight: $Theme-fontWeight-bold;
  line-height: 40px;

  @include desktop {
    font-size: 40px;
    line-height: 52px;
  }
}

.Heading.Heading--subsection {
  font-family: $Theme-fontFamily-futura;
  font-size: 20px;
  font-weight: $Theme-fontWeight-bold;
  line-height: 32px;

  @include desktop {
    font-size: 24px;
    line-height: 36px;
  }
}

.Heading.Heading--title {
  font-size: 16px;
  line-height: 24px;

  @include desktop {
    font-size: 20px;
    line-height: 32px;
  }
}

.Heading.Heading--section {
  text-align: center;
}

.Heading.Heading--title {
  &::before {
    content: '-';

    margin-right: $Theme-spacing-small;
  }
}
