.OncostatsNext {
  padding: $Theme-spacing-default $Theme-spacing-small;

  @include media('>=smallDesktop') {
    padding-top: $Theme-spacing-large;
    padding-bottom: $Theme-spacing-large;
  }
}

.OncostatsNext-content {
  max-width: $Theme-max-width;
  margin: 0 auto;
}

.OncostatsNext-content:first-child,
.OncostatsNext-quote {
  margin-bottom: $Theme-spacing-default;

  @include media('>=smallDesktop') {
    margin-bottom: $Theme-spacing-large;
  }
}
