$OncostatsNext-offset: 60px;

.OncostatsNext {
  max-width: $Theme-max-width + 300px;
  padding-top: $Theme-spacing-default;
  padding-bottom: $Theme-spacing-default;
  margin: 0 auto;

  @include media('>=smallDesktop') {
    padding-top: $Theme-spacing-large;
    padding-bottom: $Theme-spacing-large;
  }
}

.OncostatsNext-image {
  position: relative;

  display: flex;
  justify-content: center;

  margin-top: $OncostatsNext-offset;

  @include media('>=smallDesktop') {
    margin-top: 0;
  }
}

.OncostatsNext-imageSrc {
  width: 100%;
  height: 670px;

  max-width: 100%;
  max-height: 100%;

  object-fit: cover;
  object-position: -122px center;

  @include media('>=smallDesktop') {
    height: auto;

    object-position: center;
  }
}

.OncostatsNext-quote {
  position: absolute;
  top: $OncostatsNext-offset * -1;
  left: $OncostatsNext-offset;

  z-index: 1;

  width: calc(100% - #{$OncostatsNext-offset});

  @include media('>=smallDesktop') {
    top: 50%;
    left: 50%;
    bottom: auto;

    width: 50%;
    max-width: 566px;

    width: calc(50% + #{$OncostatsNext-offset});

    transform: translateY(-50%);
  }
}

.OncostatsNext-content {
  max-width: $Theme-max-width;
  padding: 0 $Theme-spacing-small;
  margin: 0 auto;
}

.OncostatsNext-content:first-child,
.OncostatsNext-image {
  margin-bottom: $Theme-spacing-default;

  @include media('>=smallDesktop') {
    margin-bottom: $Theme-spacing-large;
  }
}
