.OncostatsIntro {
  padding: $Theme-spacing-default 0;

  @include media('>=smallDesktop') {
    padding: $Theme-spacing-large 0;
  }
}

.OncostatsIntro-section {
  padding: $Theme-spacing-small;
}

.OncostatsIntro-stats {
  width: 100%;
  margin-top: $Theme-spacing-small;
  margin-bottom: $Theme-spacing-default;

  @include media('>=smallDesktop') {
    margin-top: $Theme-spacing-default;
    margin-bottom: $Theme-spacing-large;
  }
}

.OncostatsIntro-content {
  max-width: $Theme-max-width;
  margin: 0 auto;
}
