$cs-Divider-color: $Theme-color-limedSpruce;
$cs-Divider-color-alt: $CS-color-lochinvar;

.cs-Divider {
  display: inline-block;
  width: 50px;
  margin: 0;

  border: 0;
  border-bottom: 4px solid $cs-Divider-color;
}

.cs-Divider.cs-Divider--alt {
  border-color: $cs-Divider-color-alt;
}

.cs-Divider.cs-Divider--white {
  width: 100px;
  border-color: rgba($Theme-color-white, 0.5);
}
