.cs-Gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  max-width: 1450px;
  margin-top: -$Theme-spacing-small;
}

.cs-Gallery-cell {
  display: flex;
  justify-content: center;

  margin-top: $Theme-spacing-small;

  @include media('<=680px') {
    &:nth-child(n+5) {
      display: none;
    }
  }

  @include media('>680px', '<1450px') {
    &:nth-child(n+7) {
      display: none;
    }
  }
}

.cs-Gallery-image {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  max-height: 100%;

  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
}

@include media('>=600px') {
  .cs-Gallery-cell {
    margin-left: $Theme-spacing-small;
  }
}

@include media('>=650px') {
  .cs-Gallery {
    padding-right: $Theme-spacing-small;
  }
}

@include media('>=750px') {
  .cs-Gallery {
    padding-right: $Theme-spacing-default;
    margin-top: -$Theme-spacing-default;
  }

  .cs-Gallery-cell {
    margin-top: $Theme-spacing-default;
    margin-left: $Theme-spacing-default;
  }
}
