.Panel.cs-Panel--transparent {
  background-color: transparent;
}

.Panel.cs-Panel--alt {
  background-color: $CS-color-halfBaked;
}

.Panel.cs-Panel--altGreen {
  background-color: $CS-color-tradewind;
}

.Panel.cs-Panel--hero {
}

.Panel.cs-Panel--hero1 {
  background: $CS-color-tradewind image-url('case-studies/creators-school/hero.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  @include media('<tablet') {
    background-size: 200%;
  }
}

.Panel.cs-Panel--hero2 {
  background: $CS-color-curiousBlue image-url('case-studies/creators-school/evolving-hero.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  @include media('<tablet') {
    background-size: 130%;
  }
}

.Panel.cs-Panel--hero3 {
  background: $CS-color-curiousBlue image-url('case-studies/creators-school/end-hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  @include media('<tablet') {
    background-size: 200%;
  }
}

.Panel.cs-Panel--white {
  background-color: $Theme-color-white;
}

.Panel.cs-Panel--yellow {
  background-color: $CS-color-porsche;
}

.Panel.cs-Panel--blue {
  background-color: $CS-color-curiousBlue;
}

.cs-Panel-overflowedImage {
  max-width: 150px;
  margin: auto;

  @include media('>tablet') {
    max-width: 300px;
  }
}

.Panel.cs-Panel--withBottomOverflow {
  overflow: visible;

  .cs-Panel-overflowedImage {
    transform: translateY(20px);

    @include media('>tablet') {
      transform: translateY(55px);
    }
  }
}

.Panel.cs-Panel--withTopOverflow {
  position: relative;

  top: 0;

  overflow: visible;

  .cs-Panel-overflowedImage {
    position: absolute;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}

.Panel.cs-Panel--easymoneyPlug {
  padding: 0;
  background-position: top center;
}

