.Panel.cs-Panel--transparent {
  background-color: transparent;
}

.Panel.cs-Panel--alt {
  background-color: $CS-color-halfBaked;
}

.Panel.cs-Panel--altGreen {
  background-color: $CS-color-tradewind;
}

.Panel.cs-Panel--hero1 {
  background-color: $CS-color-tradewind;
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: center top;

  @include media('<=tablet') {
    @include retina-background('case-studies/creators-school/header-green-650', 'jpg');
  }

  @include media('>tablet', '<=1440px') {
    @include retina-background('case-studies/creators-school/header-green-1440', 'jpg');
    background-size: contain;
  }

  @include media('>1440px') {
    @include retina-background('case-studies/creators-school/header-green-2880', 'jpg');
    background-size: cover;
  }
}

.Panel.cs-Panel--hero2 {
  background-color: $CS-color-curiousBlue;
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: center top;

  @include media('<=tablet') {
    @include retina-background('case-studies/creators-school/evolving-hero-650', 'jpg');
  }

  @include media('>tablet', '<=1440px') {
    @include retina-background('case-studies/creators-school/evolving-hero-1440', 'jpg');
    background-size: contain;
  }

  @include media('>1440px') {
    @include retina-background('case-studies/creators-school/evolving-hero-2880', 'jpg');
    background-size: cover;
  }
}

.Panel.cs-Panel--hero3 {
  background-color: $CS-color-curiousBlue;
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: bottom center;

  @include media('<=tablet') {
    @include retina-background('case-studies/creators-school/end-hero-650', 'jpg');
  }

  @include media('>tablet', '<=1440px') {
    @include retina-background('case-studies/creators-school/end-hero-1440', 'jpg');
    background-size: contain;
  }

  @include media('>1440px') {
    @include retina-background('case-studies/creators-school/end-hero-2880', 'jpg');
    background-size: cover;
  }
}

.Panel.cs-Panel--white {
  background-color: $Theme-color-white;
}

.Panel.cs-Panel--yellow {
  background-color: $CS-color-porsche;
}

.Panel.cs-Panel--blue {
  background-color: $CS-color-curiousBlue;
}

.cs-Panel-overflowedImage {
  max-width: 150px;
  margin: auto;

  @include media('>tablet') {
    max-width: 300px;
  }
}

.Panel.cs-Panel--withBottomOverflow {
  overflow: visible;

  .cs-Panel-overflowedImage {
    transform: translateY(20px);

    @include media('>tablet') {
      transform: translateY(55px);
    }
  }
}

.Panel.cs-Panel--withTopOverflow {
  position: relative;

  top: 0;

  overflow: visible;

  .cs-Panel-overflowedImage {
    position: absolute;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}

.Panel.cs-Panel--easymoneyPlug {
  padding: 0;
  background-position: top center;
}

