.Text.Text--csGreen {
  color: $CS-color-lochinvar;
}

.Text.Text--csBlue {
  color: $CS-color-curiousBlue;
}

.Text.Text--csBlack {
  color: $CS-color-fiord;
}

.Text.Text--transparent {
  opacity: 0.6;
}
