$CS-color-halfBaked: #72c3c8;
$CS-color-tradewind: #6ec1ba;
$CS-color-lochinvar: #309298;
$CS-color-porsche: #e7bc65;
$CS-color-curiousBlue: #2996bd;
$CS-color-tango: #f0772a;
$CS-color-pictonBlue: #2aa7f0;
$CS-color-fiord: #445c69;

$CS-layer-images: 5;
$CS-layer-hideImages: $CS-layer-images + 1;
