.u-onlyResponsibleResponsiveDesignPicture {
  @include media('<=tablet') {
    display: none;
  }

  @include media('>1035px') {
    display: none;
  }
}


.u-onlyAboveResponsibleResponsiveDesignPicture {
  @include media('<=1035px') {
    display: none;
  }
}
