.CollapsedSection {
  .CollapsedSection-header {
    position: relative;
    padding-right: 1.5em;
    padding-bottom: $Theme-spacing-xSmall;
    border-bottom: 1px solid $Theme-color-polar;
  }

  @include media('<=tablet') {
    .CollapsedSection-body {
      display: none;
    }

    .CollapsedSection-header:after {
      color: $Theme-color-yellowOrange;
      content: '\f055';
      font-family: FontAwesome;
      position: absolute;
      font-size: 25px;
      top: 90%;
      right: 0;
      transform: translateY(-100%);
    }
    
    &.CollapsedSection--open {
      .CollapsedSection-body {
        display: block;
      }

      .CollapsedSection-header:after {
        content: '\f056';
      }
    }
  }
}
