.CallToAction {
  font-weight: 700;
  color: #2421ab;
  text-decoration: underline;
}

.CallToAction.CallToAction--white {
  color: #fcfcfc;
}

.CallToAction.CallToAction--large {
  font-size: 28px;
  line-height: 40px;
}
