pre {
  padding: 20px;
  margin: 40px 0;

  background-color: rgba(64, 63, 76, 0.1);
  color: inherit; /* Override PrismJS default theme color */

  text-shadow: none; /* Override PrismJS default text shadow */

  @include media(">=desktop") {
    padding: 28px;
    margin: 56px 0;

    font-size: 20px;
    line-height: 28px;
  }

  & > code {
    background-color: transparent;
    border-radius: 0;

    white-space: break-spaces;
  }
}
