@import "./variables";

ol,
ul {
  max-width: $BlogPostBody-text-maxWidth-mobile;
  padding: 0 20px 0 40px;
  margin: 20px auto;

  @include media(">=desktop") {
    max-width: $BlogPostBody-text-maxWidth-desktop;
    padding: 0 28px 0 56px;
    margin: 28px auto;
  }
}

li {
  @import "./inline_code";
}
