@import "./Variables";

p,
:global(.BlogPostParagraph) {
  position: relative;

  max-width: $BlogPostBody-text-maxWidth-mobile;
  padding: 0 20px;
  margin: 20px auto 28px;

  @include media(">=desktop") {
    max-width: $BlogPostBody-text-maxWidth-desktop;
    padding: 0 28px;
    margin: 28px auto 32px;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @import "./InlineCode";
}
