@import "common/breakpoints";

@import "./variables";

$breakpoint: 800;

.root {
  max-width: $BlogPostBody-text-maxWidth-mobile;
  padding: 0 20px;

  @include media(">=800px") {
    padding: 0;
  }
}

.content {
  max-width: 718px;
  margin: 0 auto;
}

.title {
  margin-bottom: 20px;

  color: #2421ab;

  line-height: 20px;

  @include media(">=#{$breakpoint}px") {
    margin-bottom: 28px;

    line-height: 28px;
  }

  @include media(">=desktop") {
    margin-bottom: 32px;

    line-height: 32px;
  }
}

.links {
  list-style: none;
}

.link {
  display: inline-block;
  margin-right: 28px;

  color: #2421ab;
  opacity: 0.6;

  line-height: 20px;

  @include media(">=#{$breakpoint}px") {
    display: block;
    margin-right: 0;
    margin-bottom: 28px;

    line-height: 28px;
  }

  @include media(">=desktop") {
    margin-bottom: 32px;

    line-height: 32px;
  }

  &:hover {
    opacity: 1;
  }

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}
