/* Text width max-width, which is the value in the design + the side paddings
 * required to keep things responsive.
 */
$BlogPostBody-text-maxWidth-mobile: 516px;
$BlogPostBody-text-maxWidth-desktop: 734px;
