{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier",
    "react-hooks"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__PRODUCTION__": true,
    "test": true,
    "document": true,
    "window": true
  },
  "rules": {
    "prettier/prettier": "error",
    "curly": [
      "error",
      "multi-line"
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "if"
      },
      {
        "blankLine": "always",
        "prev": "if",
        "next": "*"
      },
      {
        "blankLine": "always",
        "prev": [
          "const",
          "let",
          "var"
        ],
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": [
          "const",
          "let",
          "var"
        ],
        "next": [
          "const",
          "let",
          "var"
        ]
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": [
          "memo",
          "element",
          "key",
          "req",
          "acc",
          "result"
        ]
      }
    ],
    "class-methods-use-this": "off",
    "id-length": [
      "error",
      {
        "exceptions": [
          "_",
          "x",
          "y"
        ]
      }
    ],
    "no-use-before-define": [
      "error",
      "nofunc"
    ],
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "to"
        ]
      }
    ],
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/forbid-prop-types": "off",
    "import/no-unresolved": [
      2,
      {
        "ignore": [
          "~/"
        ]
      }
    ],
    "import/extensions": 0,
    "react/jsx-props-no-spreading": "off",
    "react/static-property-placement": "off",
    "react/state-in-constructor": "off",
    "react/require-default-props": "off",
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error"
  },
  "settings": {
    "import/resolver": {
      "babel-plugin-root-import": {}
    }
  }
}
