.ideas {
  position: relative;

  display: inline-block;
}

.tittleless {
  font-family: "Acta Display without tittle";
}

.planet {
  position: absolute;
  top: 7px;
  left: 3px;

  display: block;
  width: 12px;
  height: 12px;

  @media (--desktop) {
    top: 17px;
    left: 6px;

    width: 23px;
    height: 23px;
  }
}

.glue {
  @media (min-width: 586px) {
    white-space: nowrap;
  }
}
