.Text {
  font-family: colfax-web, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #403f4c;
}

.Text.Text--small {
  font-size: 16px;
  line-height: 20px;
}

.Text.Text--large {
  font-size: 28px;
  line-height: 40px;
}

.Text.Text--darkBlue {
  color: #2421ab;
}

.Text.Text--white {
  color: #fcfcfc;
}
