.root {
  color: currentColor;

  font-size: 56px;
  font-weight: 400;
  line-height: 56px;

  @media (min-width: 768px) {
    font-size: 64px;
    line-height: 70px;
  }

  @media (min-width: 950px) {
    font-size: 84px;
    line-height: 92.4px;
  }
}
