.root {
  position: relative;
  padding: 112px 20px;
}

.background {
  position: absolute;
  top: 0;
  left: 50%;
  width: 10000px;
  height: 10000px;
  background-color: #045cfc;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.content {
  display: grid;
  grid-row-gap: 56px;
  max-width: 1184px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.headerTitle {}

.headerIcon {
  max-width: 58px;
  max-height: 56px;
}

.story {
  display: grid;
  grid-row-gap: 56px;
}

.section {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 28px;
}

.text {
  max-width: 577px;
}

@media (min-width: 768px) {
  .story {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: initial;
  }
}

@media (min-width: 950px) {
  .root {
    padding: 224px 28px 112px;
  }

  .content {
    grid-row-gap: 112px;
  }

  .headerIcon {
    max-width: 98px;
    max-height: 96px;
  }

  .story {
    grid-column-gap: 28px;
  }

  .title {
    margin-bottom: 56px;
  }
}
