.root {
  padding: 224px 28px 112px;
  background-color: #045cfc;
}

.title {
  margin-bottom: 56px;
}

.p {
  margin-bottom: 28px;
}

.content {
  max-width: 1184px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  margin-bottom: 112px;
}

.story {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-column-gap: 28px;
  margin-bottom: 112px;
}

.section {
  display: flex;
  flex-direction: column;
}
