.root {
  padding: 112px 20px 56px;
}

.content {
  content: layout;

  display: grid;
  grid-row-gap: 56px;
  width: 100%;
  max-width: 1184px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  max-width: 577px;
}

.hero-message {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 100% 100%;
}

.text {
  display: grid;
  grid-row-gap: 20px;
  max-width: 577px;
}

.illustrationDiv {
  max-width: 577px;

  text-align: center;
}

.illustration {
  width: 100%;
  height: 100%;
}

.images {
  display: grid;
  grid-row-gap: 20px;
  grid-template-rows: 224px 168px 168px;
}

.image {
  position: relative;
  overflow-y: hidden;
}

.inside {
  position: absolute;
  top: 50%;

  width: 100%;
  height: 100%;

  transform: translateY(-50%);
}

@media (min-width: 400px) {
  .images {
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 320px 224px;
  }

  .image:nth-child(1) {
    grid-column: 1 / span 2;
  }

  .illustrationDiv {
    grid-column: 1;
  }

  .illustration {
    width: 100%;
  }
}

@media (min-width: 509px) {
  .images {
    grid-template-rows: 452px 320px;
  }

  .illustrationDiv {
    grid-column: 1 / span 1;

    text-align: center;
  }

  .illustration {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .content {
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .hero-message {
    grid-column-gap: 20px;
    grid-template-columns: 100% 100%;
  }

  .title {
    grid-column: 1 / span 2;
  }

  .illustrationDiv {
    grid-column: 2 / span 1;

    text-align: center;
  }

  .text {
    grid-column: 1 / span 1;
    grid-row-gap: 20px;
  }

  .images {
    grid-column: 1 / span 2;
    grid-column-gap: 20px;
    grid-row-gap: initial;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 452px);
  }

  .image:nth-child(1) {
    grid-column: 1 / span 2;
  }

  .inside {
    position: initial;
    top: initial;

    transform: initial;
  }
}

@media (min-width: 950px) {
  .root {
    padding: 112px 28px;
  }

  .title {
    max-width: 100%;
  }

  .content {
    grid-column-gap: 28px;
    grid-row-gap: 112px;
  }

  .text {
    grid-row-gap: 20px;
  }

  .images {
    grid-column-gap: 28px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
