@import "common/breakpoints";

.root {
  @include media("grid-9") {
    display: grid;
    grid-gap: 28px;
    grid-template-columns: repeat(9, 1fr);
  }

  @include media("grid-10") {
    grid-template-columns: repeat(10, 1fr);
  }
}

.title {
  display: block;
  margin-bottom: 20px;

  color: #2421ab;

  font-family: "Acta Headline";
  font-size: 20px;
  line-height: 28px;

  @include media(">=desktop") {
    margin-bottom: 28px;

    font-size: 28px;
    line-height: 40px;
  }

  @include media("grid-9") {
    grid-column: 1 / span 6;
    grid-row: 1 / span 1;
    margin-bottom: 0;
  }

  @include media("grid-10") {
    grid-column-start: 2;
  }

  /**
   * Fix for Firefox font rendering issues.
   */
  @-moz-document url-prefix() {
    font-weight: lighter;
  }
}

.intro {
  margin-bottom: 20px;

  font-family: "Acta", serif;

  @include media(">=desktop") {
    margin-bottom: 28px;
  }

  @include media("grid-9") {
    grid-column: 1 / span 5;
    grid-row: 2 / span 1;
  }

  @include media("grid-10") {
    grid-column-start: 2;
  }

  /**
   * Fix for Firefox font rendering issues.
   */
  @-moz-document url-prefix() {
    font-weight: lighter;
  }
}

.info {
  font-family: colfax-web;

  @include media("grid-9") {
    grid-column: 7 / span 3;
    grid-row: 2 / span 1;
  }

  @include media("grid-10") {
    grid-column-start: 8;
  }
}

.author,
.date {
  display: block;
}
