.root {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    padding-right: 14px;
    padding-left: 14px;
  }
}

.title {
  padding-right: 28px;
  padding-left: 28px;
  margin-top: 163px;

  @media (min-width: 950px) {
    padding-right: 56px;
    padding-left: 56px;
    margin-top: 290px;
  }

  @media (min-width: 1300px) {
    padding-right: 118px;
    padding-left: 118px;
  }
}
