// Theme
//
// Theme variables, functions and mixins only.
// No rule definitions in here.
//
// Styleguide 1

// Points of reassembly
@import 'include-media/dist/include-media';

// Brand Colors
$Theme-color-brightTurquoise: #0dc0f2;
$Theme-color-horizon: #5889a2;
$Theme-color-limedSpruce: #2f3d45;
$Theme-color-polar: #ebf5fa;
$Theme-color-poloBlue: #8db6cb;
$Theme-color-white: #fff;
$Theme-color-yellowOrange: #fab23c;

// Color Usage
$Theme-palette-text-body-default: $Theme-color-poloBlue;

// Spacing
$Theme-spacing-default: 50px;
$Theme-spacing-large: 100px;
$Theme-spacing-small: 25px;
$Theme-spacing-xSmall: 10px;

// Layers
$Theme-layer-overlay: 5;

// Typography
$Theme-typography-fontWeight-bold: 700;
$Theme-typography-fontWeight-medium: 500;
$Theme-typography-fontWeight-regular: 400;
$Theme-font-families: (
  subvisual: ('futura-pt', sans-serif),
  heading: ('merriweather', serif),
  bodyText: ('pt-serif', serif)
);
$Theme-font-sizes: (
  mobile: (
    // TODO: add mobile measurements
    subvisual: (
      small: (
        font-size: 16px,
        line-height: 28px
      ),
      base: (
        font-size: 24px,
        line-height: 36px
      ),
      large: (
        font-size: 40px,
        line-height: 52px
      )
    ),
    heading: (
      small: (
        font-size: 20px,
        line-height: 32px
      ),
      base: (
        font-size: 24px,
        line-height: 36px
      )
    ),
    bodyText: (
      base: (
        font-size: 20px,
        line-height: 32px
      ),
      large: (
        font-size: 24px,
        line-height: 36px
      )
    )
  ),
  desktop: (
    subvisual: (
      small: (
        font-size: 16px,
        line-height: 28px
      ),
      base: (
        font-size: 24px,
        line-height: 36px
      ),
      large: (
        font-size: 40px,
        line-height: 52px
      )
    ),
    heading: (
      small: (
        font-size: 20px,
        line-height: 32px
      ),
      base: (
        font-size: 24px,
        line-height: 36px
      )
    ),
    bodyText: (
      base: (
        font-size: 20px,
        line-height: 32px
      ),
      large: (
        font-size: 24px,
        line-height: 36px
      )
    )
  )
);

// font-size and line-height styles
@mixin font-properties($family, $size: 'base') {
  font-family: map-get($Theme-font-families, $family);
  font-size: map-get(map-get(map-get(map-get($Theme-font-sizes, 'mobile'), $family), $size), 'font-size');
  line-height: map-get(map-get(map-get(map-get($Theme-font-sizes, 'mobile'), $family), $size), 'line-height');

  @include media('>=tablet') {
    font-size: map-get(map-get(map-get(map-get($Theme-font-sizes, 'desktop'), $family), $size), 'font-size');
    line-height: map-get(map-get(map-get(map-get($Theme-font-sizes, 'desktop'), $family), $size), 'line-height');
  }
}

// container($numberOfColumns: 1, $columnClass: 'Container-column', $halfGutterSize: $Theme-spacing-small)
//
// Creates a container with a variable number of columns and gutter size, using flex boxes for layout
//
// $numberOfColumns - Defines the number of columns each row should have
// $columnClass - You can specify the class name for a column, so you can be more semantic
// $halfGutterSize - It's half the size of the gutter you want
//
// Styleguide 2.1
@mixin container($numberOfColumns: 1, $columnClass: 'Container-column', $halfGutterSize: $Theme-spacing-small) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  max-width: 1280px;
  padding: 0 $halfGutterSize;
  margin: 0 auto;

  .#{$columnClass} {
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 $halfGutterSize;
  }

  @if($numberOfColumns > 1) {
    .#{$columnClass} + .#{$columnClass} {
      margin-top: $Theme-spacing-default;
    }

    @include media('>=tablet') {
      .#{$columnClass} {
        flex: 1 0 calc(100% / #{$numberOfColumns});
        align-items: flex-start;
      }

      .#{$columnClass} + .#{$columnClass} {
        margin-top: 0;
      }

    }
  }

  @content
}

@mixin right-arrow() {
  @include fa-icon();

  font-size: 24px; // The icon is bigger than the text of the link
  vertical-align: middle;

  content: $fa-var-arrow-circle-right;
}
