$NavLogo-mobile-colored: image-path('blue/subvisual_logo_no_name.svg');
$NavLogo-mobile-mono: image-path('blue/subvisual_logo_mono_no_name.svg');
$NavLogo-desktop-colored: image-path('blue/subvisual_logo_with_name.svg');
$NavLogo-desktop-mono: image-path('blue/subvisual_logo_mono_with_name.svg');
