@import "common/breakpoints";

.root {
  display: flex;
  column-gap: 6px;
  row-gap: 9px;

  flex-wrap: wrap;

  list-style-type: none;

  @include media(">=desktop") {
    column-gap: 12px;
    row-gap: 12px;
  }
}
