.root {
  font-family: "Acta Display No Tittle";
  font-size: 56px;
  font-weight: 400;
  line-height: 56px;
  color: #045cfc;
}

.root.with-tittle {
  font-family: "Acta Display";
}

.ideas {
  position: relative;
  display: inline-block;
}

.planet {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 12px;
  height: 12px;
}

.planet {
  top: 7px;
  left: 3px;
  animation-name: hover;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

/*
 * Firefox has an issue with shaky transitions, rotations help smooth it out.
 * source: https://gielberkers.com/how-to-fix-shaking-css-transitions-in-firefox/
 */
@keyframes hover {
  0% {
    transform: translateY(-4px);
    -moz-transform: translateY(-4px) rotate(-0.01deg);
  }

  100% {
    transform: translateY(0);
    -moz-transform: translateY(0) rotate(0.01deg);
  }
}

@media (min-width: 586px) {
  .glue {
    white-space: nowrap;
  }
}

@media (min-width: 950px) {
  .root {
    font-size: 112px;
    line-height: 112px;
  }

  .planet {
    top: 17px;
    left: 6px;
    width: 23px;
    height: 23px;
  }
}

/**
 * Fix for Firefox font rendering issues.
 */
@-moz-document url-prefix() {
  .root {
    font-weight: lighter;
  }
}
