.root {
  color: #045cfc;

  font-family: "Acta Display subset";
  font-size: 56px;
  line-height: 56px;

  @media (--desktop) {
    font-size: 112px;
    line-height: 112px;
  }

  /**
   * Fix for Firefox font rendering issues.
   */
  @-moz-document url-prefix() {
    font-weight: lighter;
  }
}
