.root {
  display: flex;
  align-items: center;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 16px;

  background-color: var(--c-blue-1);
  border-radius: 50%;
  color: var(--c-white-1);
}

.author,
.date {
  display: block;

  font-size: 16px;
  line-height: 21px;
}
