.root {
  display: grid;
  grid-row-gap: 20px;
  max-width: 100%;
}

.photo {}

.info {}

.name {}

.role {}

.links {
  display: flex;

  list-style-type: none;
}

.link:not(:last-child) {
  margin-right: 28px;
}

.aspectRatioHack > div:first-child {
  padding-bottom: 60% !important;
}

@media (min-width: 768px) {
  .aspectRatioHack > div:first-child {
    padding-bottom: 116.788% !important;
  }
}

@media (min-width: 950px) {
  .root {
    grid-row-gap: 28px;
  }
}
