.root {
  position: relative;

  height: 100%;

  overflow: hidden;
}

.placeholder {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: #045cfc;

  transition: transform 0.5s ease-in-out;

  transform: translateY(0%) translateZ(0);

  z-index: 1;
}

.placeholder.loaded {
  transform: translateX(-100%);
}

.placeholder.dark {
  background-color: #403f4c;
}
