.root {
  font-family: "Acta Display";
  font-size: 56px;
  font-weight: 400;
  line-height: 56px;
  color: #045cfc;
}

@media (min-width: 768px) {
  .root {
    font-size: 112px;
    line-height: 112px;
  }
}

/**
 * Fix for Firefox font rendering issues.
 */
@-moz-document url-prefix() {
  .root {
    font-weight: lighter;
  }
}
