.AOSChallenge {
  @include responsive-window-margin;
}

.AOSChallenge-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  max-width: $Theme-grid-maxWidth;
  margin: 0 auto;

  @include media('>=smallDesktop') {
    flex-direction: row;
  }
}

.AOSChallenge-description {
  flex: 1;

  @include media('>=smallDesktop') {
    margin-right: $Theme-spacing-large;
  }
}

.AOSChallenge-title {
  @include font-properties(subvisual, large);

  margin-bottom: $Theme-spacing-xSmall;

  color: $Theme-color-gunMetal;

  @include media('>=smallDesktop') {
    margin-bottom: $Theme-spacing-small;
  }
}

.AOSChallenge-imageWrapper {
  flex: 1.3;

  margin-bottom: $Theme-spacing-default;
}

.AOSChallenge-image {
  max-width: 100%;
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.2);
}
