.AOSCustomization {
  @include responsive-window-margin;
}

.AOSCustomization-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: $Theme-grid-maxWidth;
  margin: 0 auto;

  @include media('>=smallDesktop') {
    flex-direction: row;
  }
}

.AOSCustomization-description {
  flex: 1;

  @include media('>=smallDesktop') {
    margin-left: $Theme-spacing-large;
  }
}

.AOSCustomization-title {
  @include font-properties(subvisual, large);

  margin-bottom: $Theme-spacing-xSmall;

  color: $Theme-color-gunMetal;

  @include media('>=smallDesktop') {
    margin-bottom: $Theme-spacing-small;
  }
}

.AOSCustomization-imageWrapper {
  margin-bottom: $Theme-spacing-default;

  @include media('>=smallDesktop') {
    flex: 1.3;

    margin-bottom: 0;
  }
}

.AOSCustomization-image {
  max-width: 100%;
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.2);
}
