.AOSQuote {
  @include responsive-window-margin;

  padding-top: $Theme-spacing-default;
  padding-bottom: $Theme-spacing-default;

  background-color: #f6f2ea;

  color: $Theme-color-gunMetal;

  @include media('>=smallDesktop') {
    padding-top: $Theme-spacing-xlarge;
    padding-bottom: $Theme-spacing-xlarge;
  }
}

.AOSQuote-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  @include media('>=smallDesktop') {
    flex-direction: row;
  }
}

.AOSQuote-description {
  flex: 1;

  @include media('>=smallDesktop') {
    margin-right: $Theme-spacing-large;
  }
}

.AOSQuote-text {
  @include font-properties(bodyText, large);

  font-style: italic;
}

.AOSQuote-author {
  @include font-properties(bodyText, large);

  position: relative;

  margin-top: $Theme-spacing-default;
  padding-left: $Theme-spacing-small + 60px;

  font-weight: bold;

  @include media('>=smallDesktop') {
    padding-left: $Theme-spacing-small + 80px;
  }

  &:before {
    content: "";

    position: absolute;

    left: 0;
    top: 50%;

    transform: translateY(-50%);

    display: inline-block;

    width: 60px;
    height: 60px;

    @include responsive-background-image("clients/aos-dan");

    border-radius: 50%;

    @include media('>=smallDesktop') {
      width: 80px;
      height: 80px;
    }
  }
}

.AOSQuote-icon {
  font-size: 70px;
  line-height: 10px;
  font-style: italic;
}

.AOSQuote-icon:before {
  content: '“';

  color: $Theme-color-gunMetal;
  vertical-align: sub;

  display: inline-block;
}

.AOSQuote-imageWrapper {
  flex: 1.3;

  @include media('<smallDesktop') {
    margin-bottom: $Theme-spacing-default;
  }
}

.AOSQuote-image {
  max-width: 100%;
}
