.root {
  position: relative;
}

.ventures {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 28px;
  list-style-type: none;
}

.planet {
  position: absolute;
  z-index: 2;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.planet:nth-child(1) {
  top: 137px;
  left: 48%;
}

.planet:nth-child(2) {
  top: 334px;
  left: 30%;
}

.planet:nth-child(3) {
  top: 700px;
  left: -16%;
}

.planet:nth-child(4) {
  top: 1230px;
  left: 87%;
}

@media (min-width: 768px) {
  .ventures {
    grid-template-columns: 1fr 1fr;
  }

  .item:first-child {
    grid-column: 1 / span 2;
  }

  .planet:nth-child(1) {
    top: 300px;
    left: 9%;
  }

  .planet:nth-child(2) {
    top: 723px;
    left: 27%;
  }

  .planet:nth-child(3) {
    top: 664px;
    right: 12%;
    left: auto;
  }

  .planet:nth-child(4) {
    top: 1270px;
    left: 42%;
  }
}

@media (min-width: 950px) {
  .ventures {
    grid-column-gap: 28px;
    grid-row-gap: 56px;
  }
}
