.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  list-style-type: none;
}

.photo {
  height: 224px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .root {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 56px;
  }

  .item:first-child {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 28px;
  }

  .item:first-child .photo {
    grid-column: 1 / span 2;
  }

  .item:first-child .name,
  .item:first-child .description {
    grid-column: 2 / span 1;
  }

  .photo {
    height: 452px;
    margin-bottom: 28px;
  }
}
