// ButtonPrimary
//
// Button element that represents a primary action in the application.
// A button with a filled background.
//
// default - The default primary button
// .ButtonPrimary--inverted - Same button with a different color supposed to be used when the background issues it
//
// markup:
// <div class="ButtonPrimary {$modifiers}">Some text</div>
//
// Styleguide 1.2

@import '../reset';
@import '../theme_vars';

$ButtonPrimary-default-background: $Theme-color-brightTurquoise;
$ButtonPrimary-default-color: $Theme-color-white;
$ButtonPrimary-default-hover: darken($ButtonPrimary-default-background, 10);
$ButtonPrimary-inverted-background: $Theme-color-white;
$ButtonPrimary-inverted-color: $Theme-color-brightTurquoise;
$ButtonPrimary-inverted-hover: darken($ButtonPrimary-inverted-background, 10);

.ButtonPrimary {
  @include font-properties(subvisual, small);
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: $Theme-spacing-xSmall $Theme-spacing-small;

  background-color: $ButtonPrimary-default-background;
  border: 4px solid $ButtonPrimary-default-background;
  color: $ButtonPrimary-default-color;

  font-weight: $Theme-typography-fontWeight-bold;
  text-decoration: none;

  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $ButtonPrimary-default-hover;
    border-color: $ButtonPrimary-default-hover;
    color: $ButtonPrimary-default-color;
  }
}

.ButtonPrimary.ButtonPrimary--inverted {
  background-color: $ButtonPrimary-inverted-background;
  border-color: $ButtonPrimary-inverted-background;
  color: $ButtonPrimary-inverted-color;

  &:hover {
    background-color: $ButtonPrimary-inverted-hover;
    border-color: $ButtonPrimary-inverted-hover;
    color: $ButtonPrimary-inverted-color;
  }
}
