$CaseStudy-colors: (articles:  #f9f6f3,  oncostats: #f0f6f9);
$CaseStudy-shadow: 0 20px 60px 0 rgba(#000, 0.25);
$CaseStudy-image-offset: $Theme-spacing-small;

.u-overflowHidden {
  overflow: hidden;
}

.CaseStudy {
  padding: 0 $Theme-spacing-small;
}

.CaseStudy-content {
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: $Theme-grid-maxWidth;
  margin: 0 auto;

  @include media('>smallDesktop') {
    flex-direction: row-reverse;
    align-items: center;
  }
}

.CaseStudy-showcase {
  width: 100%;

  @include media('>smallDesktop') {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 60%;
    width: auto;
  }
}

.CaseStudy-imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  transform: translateY(-$CaseStudy-image-offset);

  @include media('>smallDesktop') {
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;

    transform: none;
  }
}

.CaseStudy-image {
  max-width: 100%;
  max-height: 100%;

  box-shadow: $CaseStudy-shadow;
}

.CaseStudy-details {
  position: relative;

  width: 100%;
  padding-right: $Theme-spacing-small;
  padding-bottom: $Theme-spacing-small;

  @include media('>smallDesktop') {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 40%;
    width: auto;
    padding-top: $Theme-spacing-large;
    padding-bottom: $Theme-spacing-large;
  }
}

.CaseStudy-details::before {
  @include media('>=smallDesktop') {
    content: '';

    position: absolute;
    top: 0;
    right: -3000px;
    left: -3000px;
    z-index: -1;

    height: 100%;
  }
}

.CaseStudy-title {
  @include font-properties(subvisual, large);

  margin-bottom: $Theme-spacing-xSmall;

  white-space: nowrap;
}

@include media('>smallDesktop') {
  .CaseStudy.CaseStudy--left {
    .CaseStudy-content {
      flex-direction: row;
      align-items: center;
    }

    .CaseStudy-showcase {
      flex-direction: row;
    }

    .CaseStudy-imageContainer {
      justify-content: flex-start;
    }

    .CaseStudy-details {
      padding-right: 0;
      padding-left: $Theme-spacing-small;
    }
  }
}

@each $name, $color in $CaseStudy-colors {
  .CaseStudy.CaseStudy--#{$name} {
    background-color: $color;

    @include media('>smallDesktop') {
      background-color: transparent;
    }

    .CaseStudy-details::before {
      background-color: $color;
    }
  }
}
