.ClientsGrid-clients {
  column-count: 2;
  column-gap: $Theme-spacing-small;
}

.ClientsGrid-client {
  @include aspect-ratio(320px, 220px);

  margin: auto;
  margin-bottom: $Theme-spacing-default;

  background-color: $Theme-color-white;
}

.ClientsGrid-img {
  width: 100%;
  padding-right: $Theme-spacing-default;
  padding-left: $Theme-spacing-default;
}
