.ClientsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  margin-top: -$Theme-spacing-small;
  margin-left: -$Theme-spacing-small;
}

.ClientsGrid-cell {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  min-width: 100px;
  margin-top: $Theme-spacing-small;
  margin-left: $Theme-spacing-small;
}

@include media('>=500px') {
  .ClientsGrid-cell {
    min-width: 25%;
  }
}

@include media('>=900px') {
  .ClientsGrid {
    margin-top: -$Theme-spacing-default;
    margin-left: -$Theme-spacing-default;
  }

  .ClientsGrid-cell {
    margin-top: $Theme-spacing-default;
    margin-left: $Theme-spacing-default;
  }
}

@include media('>=1250px') {
  .ClientsGrid-cell {
    min-width: 200px;
  }
}
