// Container
//
// Container for each section of content.
// Limits whole page content to a max width.
// Allows to layout its content into one or two columns.
// Each column limits its own content to a max width as well.
//
// default - One column layout; Centers content
// .Container--twoColumn - Two column layout; Centers content in each column for small resolutions; Aligns content to the left in each column for large resolutions
//
// markup:
// <div class="Container">
//   <div class="Container-column">Content</div>
// </div>
// <div class="Container Container--twoColumn">
//   <div class="Container-column">Content 1</div>
//   <div class="Container-column">Content 2</div>
// </div>
// <div class="Container Container--twoColumn">
//   <div class="Container-column Container-column--main">Content 1</div>
//   <div class="Container-column Container-column--secondary">Content 2</div>
// </div>
//
// Styleguide 1.7

@import '../reset';
@import '../theme_vars';

.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.Container-column {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 600px;
  padding: 0 $Theme-spacing-default;
}

.Container.Container--twoColumn {
  .Container-column + .Container-column {
    margin-top: $Theme-spacing-default;
  }
}

@include media('>=tablet') {
  .Container.Container--twoColumn {
    $Container-twoColumn-main-width: 50%;

    .Container-column {
      flex: 1 0 50%;
      align-items: flex-start;

      &.Container-column--main {
        flex: 1 0 $Container-twoColumn-main-width;
      }

      &.Container-column--secondary {
        flex: 1 0 calc(100% - #{$Container-twoColumn-main-width});
      }
    }

    .Container-column + .Container-column {
      margin-top: 0;
    }
  }
}
