// EngagementLink
//
// Links that stand out and usually link to other parts of our site we wish the
// users to see.
// It has an icon to better achieve its goal.
//
// default - The link with an icon
//
// markup:
// <a href="/link" class="EngagementLink">Learn more</a>
//
// Styleguide 1.9

@import '../reset';
@import '../theme_vars';
@import 'font-awesome-compass';
@import 'font-awesome';

.EngagementLink {
  @include font-properties(subvisual, small);
  width: 100%;

  color: $Theme-color-yellowOrange;

  font-weight: $Theme-typography-fontWeight-bold;
  text-decoration: none;
  text-transform: uppercase;

  &:before {
    @include right-arrow();

    padding-right: $Theme-spacing-small;
  }

  &:hover {
    text-decoration: underline;
  }
}
