.Experience {
  padding: 0 $Theme-spacing-default;
}

.Experience-content {
  display: flex;
  flex-direction: column-reverse;

  max-width: $Theme-grid-maxWidth;
  margin: 0 auto;

  color: #95a2ac;

  @include media('>=smallDesktop') {
    flex-direction: row;
  }
}

.Experience-clients {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 45%;
  margin-bottom: $Theme-spacing-default;

  @include media('>=smallDesktop') {
    margin-bottom: 0;
  }
}

.Experience-img {
  max-width: 100%;
  max-height: 100%;
}

.Experience-work {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 55%;
  margin-right: $Theme-spacing-small;
}

.Experience-title {
  @include font-properties(subvisual, large);

  color: $Theme-color-white;
}
