.Experience {
  @include responsive-window-margin;
}

.Experience-content {
  display: flex;
  flex-direction: column-reverse;

  max-width: $Theme-grid-maxWidth;
  margin: 0 auto;

  color: #95a2ac;

  @include media('>=smallDesktop') {
    flex-direction: row;
  }
}

.Experience-clients {
  flex-grow: 1;
  flex-shrink: 1;

  @include media('>=smallDesktop') {
    flex-basis: 680px;
  }
}

.Experience-work {
  flex-grow: 1;
  flex-shrink: 1;
  margin-top: $Theme-spacing-xSmall;

  @include media('>=smallDesktop') {
    flex-basis: 540px;
    margin-top: 0;
    margin-right: $Theme-spacing-default;
  }
}

.Experience-title {
  @include font-properties(subvisual, large);

  color: $Theme-color-white;
}
