// Footer
//
// The site's footer bar
//
// markup:
// <div class="Footer">
//   <div class="Footer-credits">
//     <span class="Footer-handcrafted">Handcrafted by</span>
//     <span class="Footer-subvisual">SUBVISUAL</span>
//   </div>
//   <div class="Footer-work">
//   <span class="Footer-interested">Interested in our services?</span>
//   <a class="Footer-work-text" href="#">Let's get to work</a>
//   </div>
// </div>
//
// Styleguide 1.10

@import '../reset';
@import '../theme_vars';

.Footer {
  display: flex;
}

.Footer-credits,
.Footer-work {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: $Theme-spacing-small $Theme-spacing-default;
}

.Footer-credits {
  align-items: center;

  background-color: $Theme-color-limedSpruce;
}

.Footer-work {
  display: none;
}

@include media('>=tablet') {
  .Footer-credits {
    flex-basis: 70%;
    align-items: flex-start;

    background-color: $Theme-color-limedSpruce;
  }

  .Footer-work {
    flex-basis: 30%;
    display: flex;

    background-color: $Theme-color-yellowOrange;
  }
}

.Footer-handcrafted {
  @include font-properties(subvisual, small);
  color: $Theme-color-horizon;

  text-transform: uppercase;
}

.Footer-subvisual {
  @include font-properties(subvisual, base);
  color: $Theme-color-white;

  letter-spacing: 1px;
  text-transform: uppercase;
}

.Footer-interested {
  @include font-properties(bodyText, large);
  margin-bottom: $Theme-spacing-small;

  color: $Theme-color-limedSpruce;
}

.Footer-work-text {
  @include font-properties(subvisual, small);
  color: $Theme-color-white;

  font-weight: $Theme-typography-fontWeight-bold;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    text-decoration: underline;
  }

  &:after {
    @include right-arrow();

    padding-left: $Theme-spacing-small;
  }
}

