// Heading
//
// Styles heading's font and color properties.
//
// default - Most commonly used heading
// .Heading--small - Smaller font
// .Heading--large - Larger font
//
// markup:
// <div class="Heading {$modifiers}">
//   Lorem Ipsum is simply dummy text of the printing and typesetting industry.
//   Lorem <span class="Heading-highlight">Ipsum</heading> is simply dummy text of the printing and typesetting industry.
// </div>
//
// Styleguide 1.5

@import '../reset';
@import '../theme_vars';

.Heading {
  @include font-properties(heading, base);
  width: 100%;

  color: $Theme-color-horizon;

  font-weight: $Theme-typography-fontWeight-bold;
}

.Heading-highlight {
  color: $Theme-color-brightTurquoise;
}

.Heading.Heading--small {
  @include font-properties(heading, small);
  font-weight: $Theme-typography-fontWeight-bold;
}

.Heading.Heading--large {
  @include font-properties(subvisual, large);
  font-weight: $Theme-typography-fontWeight-bold;
  text-transform: uppercase;
}
