$HomepageHero-icons: 'dev', 'ui', 'mobile';

.HomepageHero {
  display: flex;
  width: 100%;
  max-width: $Theme-grid-maxWidth;
  padding-top: $Theme-spacing-large;
  margin-right: auto;
  margin-left: auto;
}

.HomepageHero-content {
  flex: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 $Theme-spacing-default $Theme-spacing-default $Theme-spacing-small;

  @include media('>=smallDesktop') {
    padding-bottom: $Theme-spacing-large;
  }
}

.HomepageHero-showcase {
  position: relative;

  flex: 1;
  display: none;

  @include media('>tablet') {
    display: block;
  }
}

.HomepageHero-image {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;

  box-shadow: 0 20px 60px 0 rgba(#000, 0.25);
}

.HomepageHero-heading {
  @include font-properties(subvisual, large);

  margin-bottom: $Theme-spacing-small;

  color: $Theme-color-limedSpruce;

  font-weight: $Theme-typography-fontWeight-bold;

  @include media('>=smallDesktop') {
    @include font-properties-on-resolution(subvisual, large, desktop);

    margin-bottom: $Theme-spacing-default;
  }
}

[class^=HomepageHero-skill]:not(:last-child) {
  margin-bottom: $Theme-spacing-small;
}

@each $icon in $HomepageHero-icons {
  .HomepageHero-skill--#{$icon} {
    @include font-properties(subvisual, small);
    @include responsive-background-image('icons/skill-#{$icon}', $size: auto 30px);

    display: flex;
    align-items: center;
    height: 32px;
    padding-left: 50px;

    background-position: left center;
    background-repeat: no-repeat;
    color: #7d98ab;

    font-weight: $Theme-typography-fontWeight-bold;

    text-transform: uppercase;
  }
}
