// HomepageHero
//
// Custom component for managing the homepage's hero layout
//
// markup:
// <div class="HomepageHero">
//   <div class="HomepageHero-content">
//     <div class="HomepageHero-copy">
//       <h1 class="HomepageHero-heading u-xSmallThenSmallMargin">
//         We design and thoughtful digital products
//       </h1>
//       <p class="HomepageHero-text u-defaultMargin">
//         We craft products with a focus on great User Experience and high-quality code
//       </p>
//     </div>
//     <div class="HomepageHero-cta">
//       <a class="ButtonPrimary ButtonPrimary--brand" href="/work">See our work</a>
//     </div>
//   </div>
//   <div class="HomepageHero-showcase">
//     <div class="HomepageHero-image"></div>
//   </div>
// </div>
//
// Styleguide 5.19

.HomepageHero {
  display: flex;
  width: 100%;
  max-width: $Theme-grid-maxWidth;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.HomepageHero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0 $Theme-spacing-default $Theme-spacing-small;
}

.HomepageHero-showcase {
  position: relative;

  flex: 1;
  display: none;

  @include media('>=550px') {
    display: block;
  }
}

.HomepageHero-image {
  position: absolute;
  right: 0;
  bottom: -80px;

  flex: 1;
  width: 100%;
  height: 100%;

  background-image: url('/images/homepage/shelf.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;

  @include media('>=1180px') {
    background-position: bottom right;
    background-size: contain;
  }
}

.HomepageHero-heading {
  @include font-properties(subvisual, base);

  color: $Theme-color-limedSpruce;

  font-weight: $Theme-typography-fontWeight-bold;

  @include media('>=750px') {
    @include font-properties-on-resolution(subvisual, large, desktop);
  }
}

.HomepageHero-text {
  @include font-properties(bodyText, small);

  color: $Theme-color-limedSpruce;

  font-weight: $Theme-typography-fontWeight-regular;

  @include media('>=750px') {
    @include font-properties-on-resolution(bodyText, base, desktop);
  }
}
