.HomepageExperience {
  padding: 0 $Theme-spacing-small;
}

.HomepageExperience-content {
  display: flex;
  flex-direction: column-reverse;

  max-width: $Theme-grid-maxWidth;
  margin: 0 auto;

  color: #95a2ac;

  @include media('>=smallDesktop') {
    flex-direction: row;
  }
}

.HomepageExperience-clients {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 45%;
}

.HomepageExperience-work {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 55%;

  @include media('>=smallDesktop') {
    margin-right: $Theme-spacing-small;
  }
}

.HomepageExperience-title {
  @include font-properties(subvisual, large);

  color: $Theme-color-white;
}
