// HomepageHero
//
// Custom component for managing the homepage's hero layout
//
// markup:
// <div class="HomepageHero">
//   <div class="HomepageHero-content">
//     <div class="HomepageHero-copy">
//       <h1 class="HomepageHero-heading u-xSmallThenSmallMargin">
//         We design and thoughtful digital products
//       </h1>
//       <p class="HomepageHero-text u-defaultMargin">
//         We craft products with a focus on great User Experience and high-quality code
//       </p>
//     </div>
//     <div class="HomepageHero-cta">
//       <a class="ButtonPrimary ButtonPrimary--brand" href="/work">See our work</a>
//     </div>
//   </div>
//   <div class="HomepageHero-showcase">
//     <div class="HomepageHero-image"></div>
//   </div>
// </div>
//
// Styleguide 5.19

.HomepageHero {
  display: flex;
  width: 100%;
  max-width: $Theme-grid-maxWidth;
  padding-top: $Theme-spacing-large;
  margin-right: auto;
  margin-left: auto;
}

.HomepageHero-content {
  flex: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 $Theme-spacing-default $Theme-spacing-large $Theme-spacing-small;
}

.HomepageHero-showcase {
  position: relative;

  flex: 1;
  display: none;

  @include media('>tablet') {
    display: block;
  }
}

.HomepageHero-image {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;

  box-shadow: 0 20px 60px 0 rgba(#000, 0.25);
}

.HomepageHero-heading {
  @include font-properties(subvisual, large);

  color: $Theme-color-limedSpruce;

  font-weight: $Theme-typography-fontWeight-bold;

  @include media('>=750px') {
    @include font-properties-on-resolution(subvisual, large, desktop);
  }
}

[class^=HomepageHero-skill] {
  margin-bottom: $Theme-spacing-small;
}

$HomepageHero-icons: "dev", "ui", "mobile";

@each $icon in $HomepageHero-icons {
  .HomepageHero-skill--#{$icon} {
    @include responsive-background-image('icons/skill-#{$icon}', $size: auto 30px);

    padding-left: 60px;

    background-position: left center;
    background-repeat: no-repeat;

    text-transform: uppercase;
  }
}
