// Layout
//
// Distributes its descendants in different screen resolutions
//
// Styleguide 1.9

@import '../reset';
@import '../theme_vars';

.Layout {
  width: 100%;
}

.Layout-smallMargin {
  padding-bottom: $Theme-spacing-small;
}

.Layout-defaultMargin {
  padding-bottom: $Theme-spacing-default;
}

.Layout-largeMargin {
  padding-bottom: $Theme-spacing-large;
}
