// NumberedSteps
//
// A vertical numbered list with an image associated to each item
//
// markup:
// <ul class="NumberedSteps">
//   <li class="NumberedSteps-step">
//     <div class="NumberedSteps-stepImageWrapper">
//       <div class="NumberedSteps-stepImage">
//         <img src="/placeholder.png" style="max-height: 100%;"/>
//       </div>
//     </div>
//     <div class="NumberedSteps-stepContent">
//       <p class="Heading Heading--brand u-xSmallMargin">
//         <span class="Heading-highlight">Content title</span>
//       </p>
//       <p class="Text">Content body</p>
//     </div>
//   </li>
//   <li class="NumberedSteps-step">
//     <div class="NumberedSteps-stepImageWrapper">
//       <div class="NumberedSteps-stepImage">
//         <img src="/placeholder.png" style="max-height: 100%;"/>
//       </div>
//     </div>
//     <div class="NumberedSteps-stepContent">
//       <p class="Heading Heading--brand u-xSmallMargin">
//         <span class="Heading-highlight">Content title</span>
//       </p>
//       <p class="Text">Content body</p>
//     </div>
//   </li>
// </ul>
//
// Styleguide 5.6

@import 'blue/theme_vars';

$NumberedSteps-step-size-desktop: 50px;
$NumberedSteps-step-size-mobile: 30px;
$NumberedSteps-stepContent-padding: 50px;
$NumberedSteps-imageSize-desktop: 200px;
$NumberedSteps-imageSize-mobile: 100px;
$NumberedSteps-verticalSpacing-mobile: $Theme-spacing-small;
$NumberedSteps-step-backgroundColor: $Theme-color-yellowOrange;
$NumberedSteps-step-color: $Theme-color-white;
$NumberedStepsline-layer: 1;

.NumberedSteps {
  counter-reset: step;

  position: relative;

  padding-top: $Theme-spacing-large;
  padding-bottom: $Theme-spacing-large;

  &:after {
    content: '';

    position: absolute;
    top: 0;
    bottom: 0;
    left: $Theme-spacing-small;
    z-index: $NumberedStepsline-layer;

    width: 1px;

    background-color: $Theme-color-polar;
  }
}

.NumberedSteps-step {
  position: relative;
  z-index: $NumberedStepsline-layer + 1;

  display: flex;
  flex-direction: column;

  &:not(:first-child) {
    margin-top: $Theme-spacing-default;
  }

  &:after {
    @include font-properties(subvisual, base);

    content: counter(step);
    counter-increment: step;

    position: absolute;
    top: $NumberedSteps-imageSize-mobile + $NumberedSteps-verticalSpacing-mobile;
    left: $Theme-spacing-small;

    display: flex;
    align-items: center;
    justify-content: center;

    width: $NumberedSteps-step-size-mobile;
    height: $NumberedSteps-step-size-mobile;
    padding-left: 1px; // hack for aligning the number correctly because of the typeface's own balance

    background-color: $NumberedSteps-step-backgroundColor;
    border-radius: 50%;
    color: $NumberedSteps-step-color;

    font-weight: $Theme-typography-fontWeight-bold;

    transform: translateX(-50%);
  }
}

.NumberedSteps-stepContent,
.NumberedSteps-stepImageWrapper {
  flex: 1;

  max-width: $Theme-grid-singleColumn-maxWidth;
}

.NumberedSteps-stepImageWrapper {
  margin-right: auto;
  margin-bottom: $NumberedSteps-verticalSpacing-mobile;
  margin-left: auto;
}

.NumberedSteps-stepContent {
  margin-left: $NumberedSteps-stepContent-padding;

  text-align: left;
}

.NumberedSteps-stepImage {
  width: $NumberedSteps-imageSize-mobile;
  height: $NumberedSteps-imageSize-mobile;
}

@include media('>=tablet') {
  .NumberedSteps {
    padding-top: $Theme-spacing-large * 2;
    padding-bottom: $Theme-spacing-large * 2;

    &:after {
      left: 50%;
    }
  }

  .NumberedSteps-step {
    flex-direction: row;
    justify-content: center;

    &:not(:first-child) {
      margin-top: $Theme-spacing-large;
    }

    &:after {
      top: 0;
      left: 50%;

      width: $NumberedSteps-step-size-desktop;
      height: $NumberedSteps-step-size-desktop;
    }
  }

  .NumberedSteps-stepContent {
    margin-left: $NumberedSteps-stepContent-padding;
  }

  .NumberedSteps-stepImageWrapper {
    margin-right: $NumberedSteps-stepContent-padding;
    margin-bottom: 0;
    margin-left: 0;
  }

  .NumberedSteps-stepImage {
    width: $NumberedSteps-imageSize-desktop;
    height: $NumberedSteps-imageSize-desktop;
    margin-top: -10px; // The image is a little bit above the counter and the content
    margin-left: auto;
  }

  .NumberedSteps-step:nth-child(even) {
    .NumberedSteps-stepContent {
      order: 1;

      margin-right: $NumberedSteps-stepContent-padding;
      margin-left: 0;

      text-align: right;
    }

    .NumberedSteps-stepImageWrapper {
      order: 2;

      margin-right: 0;
      margin-left: $NumberedSteps-stepContent-padding;
    }

    .NumberedSteps-stepImage {
      margin-right: auto;
      margin-left: 0;
    }
  }
}
