// Panel
//
// Full width container with a unique background
//
// default - Default panel
// .Panel--alternative - Alternate panel
// .Panel--action - A panel with a CTA
//
// markup:
// <div class="Panel {$modifiers}"></div>
//
// Styleguide 1.8

@import '../reset';
@import '../theme_vars';

.Panel {
  display: flex;
  flex-direction: column;

  width: 100%;
  overflow: hidden;

  background-color: $Theme-color-polar;
}

.Panel--alternative {
  background-color: $Theme-color-white;
}

.Panel--action {
  background-color: $Theme-color-horizon;
}
