// Panel
//
// Full width container with a unique background. The height is defined by the content.
//
// .Panel--home - A panel with a background to be used in the homepage
// .Panel--subvisualCaseStudy - A panel with a background to be used as the subvisual case study
// .Panel--creatorsSchoolCaseStudy - A panel with a background to be used as the creators school case study
// .Panel--fishTank - A panel with a background that is a map of our HQ
// .Panel--sam - A panel with a background that is a picture of a client (Sam)
// .Panel--rob - A panel with a background that is a picture of a client (Rob)
// .Panel--company - A panel with a background to be used in the company page
// .Panel--team - A panel with a background to be used in the team's page
// .Panel--clients - A panel with a background that is a world map with all of our clients
// .Panel--creatorsSchool - A panel for the specific case of Creators School event
// .Panel--rubyconf - A panel for the specific case of Rubyconf event
// .Panel--careers - A panel with a background to be used on the careers page hero
// .Panel--secondHome - A panel with a background to be used on the careers page
// .Panel--easymoney - A panel with an easy.money gradient as background
// .Panel--techCrunch - A panel with TechCrunch's color as background
//
// markup:
// <div class="Panel {$modifiers}" style="height: 500px"></div>
//
// Styleguide 5.1

.Panel.Panel--home,
.Panel.Panel--subvisualCaseStudy,
.Panel.Panel--creatorsSchoolCaseStudy,
.Panel.Panel--fishTank,
.Panel.Panel--sam,
.Panel.Panel--rob,
.Panel.Panel--clients,
.Panel.Panel--team,
.Panel.Panel--company,
.Panel.Panel--secondHome,
.Panel.Panel--careers {
  background-repeat: no-repeat;
  background-size: cover;
}

.Panel.Panel--home {
  @include background-image('homepage_hero.png');
}

.Panel.Panel--subvisualCaseStudy {
  @include background-image('subvisual_case_study.png');
}

.Panel.Panel--creatorsSchoolCaseStudy {
  @include background-image('creators_school_case_study.png');
}

.Panel.Panel--fishTank {
  @include background-image('homepage_map.png');
}

.Panel.Panel--sam {
  @include background-image('sam.png');
}

.Panel.Panel--rob {
  @include background-image('rob.png');
}

.Panel.Panel--company {
  @include background-image('company_hero.jpg');
}

.Panel.Panel--team {
  @include background-image('company_join_us.jpg');
}

.Panel.Panel--clients {
  @include background-image('company_clients.png');
}

.Panel.Panel--creatorsSchool {
  position: relative;

  .Panel-leftFigure,
  .Panel-rightFigure {
    position: absolute;
    bottom: -7%;

    width: 100%;
  }

  .Panel-leftFigure {
    right: -40px;

    max-width: 125px;
  }

  .Panel-rightFigure {
    display: none;
  }

  // scss-lint:disable DeclarationOrder
  @include media('>650px') {
    .Panel-leftFigure {
      max-width: 150px;
    }
  }

  @include media('>800px') {
    .Panel-leftFigure,
    .Panel-rightFigure {
      bottom: -10%;
    }

    .Panel-leftFigure {
      max-width: 175px;
    }
  }

  @include media('>desktop') {
    // styleguide:ignore:start
    $distance-to-content: calc(50% + #{$Theme-grid-singleColumn-maxWidth/2} + 50px);
    $figure-width: calc((100% - #{$Theme-grid-singleColumn-maxWidth}) / 2);
    $figure-width-large: calc(((100% - #{$Theme-grid-singleColumn-maxWidth}) / 2)  + 8%); // the extra 8% is to compensate the fact that this image has a different ration that the other, therefore cannot grow the same way as the other
    // styleguide:ignore:end

    .Panel-leftFigure,
    .Panel-rightFigure {
      bottom: -15%;
    }

    .Panel-leftFigure {
      right: $distance-to-content;

      width: $figure-width;
      max-width: 300px;
    }

    .Panel-rightFigure {
      left: $distance-to-content;

      display: initial;
      width: $figure-width-large;
      max-width: 420px;
    }
  }
  // scss-lint:enable DeclarationOrder
}

.Panel.Panel--rubyconf {
  @include background-image('community/rubytown.svg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;

  @include media('>450px') {
    padding-bottom: 50px;
  }

  @include media('>tablet') {
    padding-bottom: 15%;
  }
}

.Panel.Panel--careers {
  @include background-image('careers_team.jpg');
}

.Panel.Panel--secondHome {
  @include background-image('careers_second_home.jpg');
}

.Panel.Panel--easymoneyGradient {
  // scss-lint:disable ColorVariable
  background: linear-gradient(to bottom right, #372468 0%, #d056a4 100%);
  // scss-lint:enable ColorVariable
}

.Panel.Panel--easymoney {
  // scss-lint:disable ColorVariable
  background-color: #a53b68;
  // scss-lint:enable ColorVariable
}

.Panel.Panel--easymoneyMapaMundi {
  @include background-image('case-studies/easy-money/easymoney-header.png');

  justify-content: center;

  // the background-image's height achieved by dividing the ratio between the top and bottom padding, thus centering the content
  padding-top: 22.935%;
  padding-bottom: 22.935%;

  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  @media (-o-min-device-pixel-ratio:5/4), (-webkit-min-device-pixel-ratio:1.2), (min-resolution:120dpi) {
    @include background-image('case-studies/easy-money/easymoney-header@2x.png');
  }
}

.Panel.Panel--techCrunch {
  // scss-lint:disable ColorVariable
  background-color: #47b340;
  // scss-lint:enable ColorVariable
}
