// Panel
//
// Full width container with a unique background
//
// .Panel--home - A panel with a background to be used in the homepage
// .Panel--subvisualCaseStudy - A panel with a background to be used as the subvisual case study
// .Panel--creatorsSchoolCaseStudy - A panel with a background to be used as the creators school case study
// .Panel--fishTank - A panel with a background that is a map of our HQ
//
// markup:
// <div class="Panel {$modifiers}">
//   The content defines the Panel's height<br>
// </div>
//
// Styleguide 5.1

.Panel.Panel--home {
  // FIXME: temporary workaround for having these assets available to the styleguide;
  // TODO: find a way of being able to keep using Sprocket's helpers
  background-image: url('/homepage_hero.png');
  background-image: image-url('homepage_hero.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.Panel.Panel--subvisualCaseStudy {
  background-image: url('/subvisual_case_study.png');
  background-image: image-url('subvisual_case_study.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.Panel.Panel--creatorsSchoolCaseStudy {
  background-image: url('/creators_school_case_study.png');
  background-image: image-url('creators_school_case_study.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.Panel.Panel--fishTank {
  background-image: url('/homepage_map.png');
  background-image: image-url('homepage_map.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.Panel.Panel--company {
  background-image: url('/company_hero.jpg');
  background-image: image-url('company_hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.Panel.Panel--team {
  background-image: url('/company_join_us.jpg');
  background-image: image-url('company_join_us.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.Panel.Panel--clients {
  background-image: url('/company_clients.png');
  background-image: image-url('company_clients.png');
  background-repeat: no-repeat;
  background-size: cover;
}
