// Panel
//
// Full width container with a unique background. The height is defined by the content.
//
// .Panel--home - A panel with a background to be used in the homepage
// .Panel--subvisualCaseStudy - A panel with a background to be used as the subvisual case study
// .Panel--creatorsSchoolCaseStudy - A panel with a background to be used as the creators school case study
// .Panel--fishTank - A panel with a background that is a map of our HQ
// .Panel--sam - A panel with a background that is a picture of a client (Sam)
// .Panel--rob - A panel with a background that is a picture of a client (Rob)
// .Panel--company - A panel with a background to be used in the company page
// .Panel--team - A panel with a background to be used in the team's page
// .Panel--clients - A panel with a background that is a world map with all of our clients
// .Panel--creatorsSchool - A panel for the specific case of Creators School event
// .Panel--rubyconf - A panel for the specific case of Rubyconf event
//
// markup:
// <div class="Panel {$modifiers}" style="height: 500px"></div>
//
// Styleguide 5.1

.Panel.Panel--home,
.Panel.Panel--subvisualCaseStudy,
.Panel.Panel--creatorsSchoolCaseStudy,
.Panel.Panel--fishTank,
.Panel.Panel--sam,
.Panel.Panel--rob,
.Panel.Panel--clients,
.Panel.Panel--team,
.Panel.Panel--company {
  background-repeat: no-repeat;
  background-size: cover;
}

.Panel.Panel--home {
  // FIXME: temporary workaround for having these assets available to the styleguide;
  // TODO: find a way of being able to keep using Sprocket's helpers
  background-image: url('/homepage_hero.png');
  background-image: image-url('homepage_hero.png');
}

.Panel.Panel--subvisualCaseStudy {
  background-image: url('/subvisual_case_study.png');
  background-image: image-url('subvisual_case_study.png');
}

.Panel.Panel--creatorsSchoolCaseStudy {
  background-image: url('/creators_school_case_study.png');
  background-image: image-url('creators_school_case_study.png');
}

.Panel.Panel--fishTank {
  background-image: url('/homepage_map.png');
  background-image: image-url('homepage_map.png');
}

.Panel.Panel--sam {
  // TODO add Sam image
  background-image: url('/sam.png');
  background-image: image-url('sam.png');
}

.Panel.Panel--rob {
  // TODO add Rob image
  background-image: url('/rob.png');
  background-image: image-url('rob.png');
}

.Panel.Panel--company {
  background-image: url('/company_hero.jpg');
  background-image: image-url('company_hero.jpg');
}

.Panel.Panel--team {
  background-image: url('/company_join_us.jpg');
  background-image: image-url('company_join_us.jpg');
}

.Panel.Panel--clients {
  background-image: url('/company_clients.png');
  background-image: image-url('company_clients.png');
}

.Panel.Panel--creatorsSchool {
  position: relative;

  .Panel-leftFigure,
  .Panel-rightFigure {
    position: absolute;
    bottom: -7%;

    width: 100%;
  }

  .Panel-leftFigure {
    right: -40px;

    max-width: 125px;
  }

  .Panel-rightFigure {
    display: none;
  }

  @include media('>650px') {
    .Panel-leftFigure {
      max-width: 150px;
    }
  }

  @include media('>800px') {
    .Panel-leftFigure,
    .Panel-rightFigure {
      bottom: -10%;
    }

    .Panel-leftFigure {
      max-width: 175px;
    }
  }

  @include media('>desktop') {
    // styleguide:ignore:start
    $distance-to-content: calc(50% + #{$Theme-grid-singleColumn-maxWidth/2} + 50px);
    $figure-width: calc((100% - #{$Theme-grid-singleColumn-maxWidth}) / 2);
    $figure-width-large: calc(((100% - #{$Theme-grid-singleColumn-maxWidth}) / 2)  + 8%); // the extra 8% is to compensate the fact that this image has a different ration that the other, therefore cannot grow the same way as the other
    // styleguide:ignore:end

    .Panel-leftFigure,
    .Panel-rightFigure {
      bottom: -15%;
    }

    .Panel-leftFigure {
      right: $distance-to-content;

      width: $figure-width;
      max-width: 300px;
    }

    .Panel-rightFigure {
      left: $distance-to-content;

      display: initial;
      width: $figure-width-large;
      max-width: 420px;
    }
  }
}

.Panel.Panel--rubyconf {
  background-image: url('/community/rubytown.svg');
  background-image: image-url('community/rubytown.svg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;

  @include media('>450px') {
    padding-bottom: 50px;
  }

  @include media('>tablet') {
    padding-bottom: 15%;
  }
}
