.Panel.Panel--fishTank,
.Panel.Panel--clients,
.Panel.Panel--team,
.Panel.Panel--secondHome,
.Panel.Panel--joinUs {
  background-repeat: no-repeat;
  background-size: cover;
}

.Panel.Panel--team {
  @include retina-background('company/join_us_mobile', 'jpg');
  background-position: center;

  @include media('>=tablet') {
    @include retina-background('company/join_us', 'jpg');
  }
}

.Panel.Panel--clients {
  @include retina-background('company/clients');

  // the background-image's height achieved by dividing the ratio between the top and bottom padding, thus centering the content
  padding-top: 18.935%;
  padding-bottom: 18.935%;

  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  @include media('>=desktop') {
    background-size: 80%;
  }
}

.Panel.Panel--creatorsSchool {
  position: relative;
  overflow: hidden;

  .Panel-leftFigure,
  .Panel-rightFigure {
    position: absolute;
    bottom: -7%;

    width: 100%;
  }

  .Panel-leftFigure {
    right: -40px;

    max-width: 125px;
  }

  .Panel-rightFigure {
    display: none;
  }

  // scss-lint:disable DeclarationOrder
  @include media('>650px') {
    .Panel-leftFigure {
      max-width: 150px;
    }
  }

  @include media('>800px') {
    .Panel-leftFigure,
    .Panel-rightFigure {
      bottom: -10%;
    }

    .Panel-leftFigure {
      max-width: 175px;
    }
  }

  @include media('>desktop') {
    $distance-to-content: calc(50% + #{$Theme-grid-singleColumn-maxWidth/2} + 50px);
    $figure-width: calc((100% - #{$Theme-grid-singleColumn-maxWidth}) / 2);
    $figure-width-large: calc(((100% - #{$Theme-grid-singleColumn-maxWidth}) / 2)  + 8%); // the extra 8% is to compensate the fact that this image has a different ration that the other, therefore cannot grow the same way as the other

    .Panel-leftFigure,
    .Panel-rightFigure {
      bottom: -15%;
    }

    .Panel-leftFigure {
      right: $distance-to-content;

      width: $figure-width;
      max-width: 300px;
    }

    .Panel-rightFigure {
      left: $distance-to-content;

      display: block;
      width: $figure-width-large;
      max-width: 420px;
    }
  }
  // scss-lint:enable DeclarationOrder
}

.Panel.Panel--mirrorconf {
  @include background-image('community/2017.mirrorconf.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;

  @include media('>450px') {
    padding-bottom: 50px;
  }

  @include media('>tablet') {
    padding-bottom: 15%;
  }

  @include media('>=desktop') {
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
      @include background-image('community/2017.mirrorconf@2x.png');
    }

    @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) { 
      @include background-image('community/2017.mirrorconf@3x.png');
    }
  }
}

.Panel.Panel--joinUs {
  height: 0;

  background-position: top center;
  background-size: cover;

  @include media('<=tablet') {
    padding-top: calc(44% - #{$Theme-nav-height-desktop});
    padding-bottom: calc(44% + #{$Theme-nav-height-desktop});

    @include retina-background('company/join-us/team-650', 'jpg');
  }

  @include media('>=tablet', '<desktop') {
    padding-top: calc(32% - #{$Theme-nav-height-desktop});
    padding-bottom: calc(35% + #{$Theme-nav-height-desktop});
  }

  @include media('>tablet', '<=1440px') {
    @include retina-background('company/join-us/team-1440', 'jpg');
  }

  @include media('>=desktop') {
    padding-top: calc(22% - #{$Theme-nav-height-desktop});
    padding-bottom: calc(22% + #{$Theme-nav-height-desktop});
  }

  @include media('>1440px') {
    @include retina-background('company/join-us/team-1920', 'jpg');
  }
}

.Panel.Panel--secondHome {
  @include media('<=tablet') {
    @include retina-background('company/join-us/second-home-650', 'jpg');

    padding-top: 15%;
    padding-bottom: 15%;

    background-position: 27%;
  }

  @include media('>tablet', '<=1440px') {
    @include retina-background('company/join-us/second-home-1440', 'jpg');
  }

  @include media('>tablet') {
    padding-top: 10%;
    padding-bottom: 10%;

    background-position: center;
  }

  @include media('>1440px') {
    @include retina-background('company/join-us/second-home-1920', 'jpg');
  }

  @include media('>desktop') {
    padding-top: 7%;
    padding-bottom: 7%;
  }
}

.Panel.Panel--polar {
  background-color: $Theme-color-polar;
}

.Panel.Panel--white {
  background-color: $Theme-color-white;
}

.Panel.Panel--limedSpruce {
  background-color: $Theme-color-limedSpruce;
}
