.ProductGrid {
  @include responsive-window-margin;
}

.ProductGrid-content {
  display: flex;
  flex-direction: row;
  max-width: $Theme-grid-maxWidth;
  margin: 0 auto;
}

.ProductGrid-column {
  display: flex;
  flex-direction: column;
}

.ProductGrid-gap {
  margin-right: 40px;

  @include media('>=smallDesktop') {
    margin-right: 80px;
  }
}
