.ProductShowcase {
  display: flex;
  flex-direction: column;
  max-width: 600px;

  text-decoration: none;

  @include media('>=tablet') {
    align-items: center;
  }
}

.ProductShowcase-images {
  position: relative;

  margin-bottom: $Theme-spacing-small;
}

.ProductShowcase-title {
  @include font-properties(subvisual, base);

  color: $Theme-color-gunMetal;
}

.ProductShowcase-tech {
  @include font-properties(bodyText, base);
  color: $Theme-color-blueyGrey;
}

.ProductShowcase-imageWrapper,
.ProductShowcase-absImageWrapper {
  position: relative;

  overflow: hidden;

  transition: transform .8s ease-out;
}

.ProductShowcase-imageWrapper {
  box-shadow: 0 20px 80px 0 #bbc3c9;
}

.ProductShowcase-absImageWrapper {
  position: absolute;
  top: 0;
  bottom: 0;

  display: flex;
  align-items: center;

  width: 120%;
  margin-left: -10%;
}

.ProductShowcase-image {
  display: block;
  width: 100%;

  transition: transform .8s ease-out;
}

.ProductShowcase:hover {
  .ProductShowcase-imageWrapper {
    transform: scale(0.95);
  }

  .ProductShowcase-image {
    transform: scale(1.10);
  }
}
