.ProductGrid {
  @include responsive-window-margin;
}

.ProductGrid-content {
  display: flex;
  flex-direction: row;
  max-width: $Theme-grid-maxWidth;
  margin: 0 auto;
}

.ProductGrid-column {
  display: flex;
  flex-direction: column;
}

.ProductGrid-gap {
  margin-right: $Theme-spacing-default;

  @include media('>=smallDesktop') {
    margin-right: $Theme-spacing-large;
  }
}

.ProductGrid-product {
  margin-bottom: $Theme-spacing-default;

  @include media('>=smallDesktop') {
    margin-bottom: $Theme-spacing-large;
  }
}
