.ProductShowcase {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  text-decoration: none;

  position: relative;
}

.ProductShowcase-absImage {
  position: absolute;
  width: 120%;
  top: 0;
  bottom: 0;
  left: -10%;
  right: -10%;

  margin: auto;
  pointer-events: none;
}

.ProductShowcase-title {
  @include font-properties(subvisual, base);

  color: $Theme-color-gunMetal;
}

.ProductShowcase-tech {
  @include font-properties(bodyText, base);
  color: $Theme-color-blueyGrey;
}

.ProductShowcase-imageWrapper,
.ProductShowcase-absImageWrapper {
  position: relative;



  overflow: hidden;
  transition: transform .8s ease-out;
}

.ProductShowcase-imageWrapper {
  box-shadow: 0 20px 80px 0 #bbc3c9;

  margin: 40px 0 20px;
}

.ProductShowcase-absImageWrapper {
  position: absolute;
  width: 110%;
  height: 600px;
  margin: auto;
  top: 40px;

  display: flex;
  align-items: center;
}

.ProductShowcase-image {
  width: 100%;
  display: block;
  transition: transform .8s ease-out;
}

.ProductShowcase:hover {
  .ProductShowcase-imageWrapper {
    transform: scale(0.95);
  }

  .ProductShowcase-image {
    transform: scale(1.10);
  }
}
