$Radio-input-size: 25px;

.Radio {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.Radio-input {
  position: relative;

  width: $Radio-input-size;
  height: $Radio-input-size;

  border: 0;

  cursor: pointer;
  outline: 0;

  &:before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border: 1px solid $Theme-color-poloBlue;
    border-radius: 50%;
  }
}

.Radio-label {
  @include font-properties(bodyText, small);

  padding-left: $Theme-spacing-xSmall;

  cursor: pointer;
}

.Radio-input:checked + .Radio-label {
  color: $Theme-color-horizon;

  font-weight: $Theme-typography-fontWeight-bold;
}

.Radio-input:checked {
  &:before {
    border: 1px solid $Theme-color-polar;
  }

  &:after {
    $inner-border: 3px;
    content: '';

    position: absolute;
    top: $inner-border;
    left: $inner-border;

    width: calc(100% - #{$inner-border * 2});
    height: calc(100% - #{$inner-border * 2});

    background-color: $Theme-color-yellowOrange;
    border-radius: 50%;
  }
}
