// RatioEnforcer
//
// Forces the image to adapt to its container's dimensions but maintaing its natural ratio.
// Supposed to be applied to an image.
//
// In situations where custom dimensions are needed for a specific image, it
// should be defined here as a modifier.
//
// markup:
// <img src="/placeholder.png" class="RatioEnforcer">
//
// Styleguide 5.2

.RatioEnforcer {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.RatioEnforcer.RatioEnforcer--communityLogos {
  width: auto;
  max-height: 50px;

  @include media('>=tablet') {
    max-height: 100px;
  }
}

.RatioEnforcer.RatioEnforcer--companies {
  width: auto;
  height: 50px;

  @include media('>=900px') {
    height: 100px;
  }
}

.RatioEnforcer.RatioEnforcer--clients {
  max-width: 120px;
}

.RatioEnforcer.RatioEnforcer--technologies {
  max-width: 390px;
}

.RatioEnforcer.RatioEnforcer--responsivePicture {
  max-width: 400px;
}

.RatioEnforcer.RatioEnforcer--buildings {
  max-width: 700px;
}

.RatioEnforcer.RatioEnforcer--weArePresentIcons {
  max-width: 100px;

  @include media('>tablet') {
    max-width: 200px;
  }
}

.RatioEnforcer.RatioEnforcer--homepageIcons {
  max-width: 150px;

  @include media('>tablet') {
    max-width: 200px;
  }

  @include media('>desktop') {
    max-width: 300px;
  }
}

.RatioEnforcer.RatioEnforcer--caseStudiesLogos {
  max-width: 200px;

  @include media('>tablet') {
    max-width: 250px;
  }
}

.RatioEnforcer.RatioEnforcer--services {
  max-width: 150px;

  @include media('>tablet') {
    max-width: 250px;
  }
}

.RatioEnforcer.RatioEnforcer--perk {
  max-width: 100px;

  @include media('>tablet') {
    max-width: 200px;
  }
}

.RatioEnforcer.RatioEnforcer--origami {
  max-width: 450px;
}

.RatioEnforcer.RatioEnforcer--companyHero {
  max-width: 320px;

  @include media('>tablet') {
    max-width: 700px;
  }
}
