.RatioEnforcer {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.RatioEnforcer.RatioEnforcer--communityLogos {
  width: auto;
  max-height: 50px;

  @include media('>=tablet') {
    max-height: 100px;
  }
}

.RatioEnforcer.RatioEnforcer--mirrorconfLogo {
  display: block;
  width: auto;
  max-height: 50px;
  margin-right: auto;
  margin-left: auto;

  @include media('>=tablet') {
    max-height: 75px;
  }
}

.RatioEnforcer.RatioEnforcer--clients {
  max-width: 120px;
}

.RatioEnforcer.RatioEnforcer--technologies {
  max-width: 390px;
}

.RatioEnforcer.RatioEnforcer--responsivePicture {
  max-width: 400px;
}

.RatioEnforcer.RatioEnforcer--buildings {
  max-width: 700px;
}

.RatioEnforcer.RatioEnforcer--weArePresentIcons {
  max-width: 100px;

  @include media('>tablet') {
    max-width: 200px;
  }
}

.RatioEnforcer.RatioEnforcer--caseStudiesLogos {
  max-width: 200px;

  @include media('>tablet') {
    max-width: 250px;
  }
}

.RatioEnforcer.RatioEnforcer--services {
  max-width: 150px;

  @include media('>tablet') {
    max-width: 250px;
  }
}

.RatioEnforcer.RatioEnforcer--perk {
  max-width: 100px;

  @include media('>tablet') {
    max-width: 200px;
  }
}

.RatioEnforcer.RatioEnforcer--companyHero {
  max-width: 320px;

  @include media('>tablet') {
    max-width: 700px;
  }
}

.RatioEnforcer.RatioEnforcer--homepageHero {
  max-width: 1440px;
}
