// RatioEnforcer
//
// Forces the image to adapt to its container's dimensions but maintaing its natural ratio.
// Supposed to be applied to an image.
//
// In situations where custom dimensions are needed for a specific image, it
// should be defined here as a modifier.
//
// markup:
// <img src="/placeholder.png" class="RatioEnforcer">
//
// Styleguide 5.2

.RatioEnforcer {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.RatioEnforcer.RatioEnforcer--communityLogos {
  width: auto;
  max-height: 50px;

  @include media('>=tablet') {
    max-height: 100px;
  }
}

.RatioEnforcer.RatioEnforcer--clients {
  width: auto;
  max-height: 100px;
}

.RatioEnforcer.RatioEnforcer--technologies {
  max-width: 390px;
}

.RatioEnforcer.RatioEnforcer--buildings {
  max-width: 800px;
}

.RatioEnforcer.RatioEnforcer--weArePresentIcons {
  max-width: 100px;

  @include media('>tablet') {
    max-width: 200px;
  }
}
