$SectionHeading-border: solid 20px $Theme-color-polar;

.SectionHeading {
  @include responsive-window-margin;
}

.SectionHeading-content {
  max-width: $Theme-grid-maxWidth;
  margin: 0 auto;
}

.SectionHeading-title {
  @include font-properties('subvisual', 'large');

  position: relative;
  z-index: 0;

  display: inline-block;

  color: $Theme-color-gunMetal;

  font-weight: $Theme-typography-fontWeight-bold;
  text-transform: uppercase;

  &::before {
    $height: 10px;

    content: '';

    position: absolute;
    bottom: 5px;
    left: -$height;
    z-index: -1;

    display: block;
    width: calc(100% + #{$height * 2});
    height: $height;

    background-color: rgba($Theme-color-brightTurquoise, .2);

    @include media('>=tablet') {
      $height: 20px;

      left: -$height / 2;

      width: calc(100% + #{$height});
      height: $height;
    }

    @include media('>=desktop') {
      $height: 20px;

      left: -$height;

      width: calc(100% + #{$height * 2});
      height: $height;
    }
  }
}

.SectionHeading.SectionHeading--light {
  .SectionHeading-title {
    color: $Theme-color-white;
  }
}
