// SectionHeading
//
// A picture on the left and some text on the right.
//
// markup:
// <section class="SectionHeading">
//   <h1 class="SectionHeading-title">Blog Posts</h1>
// </section>
//
// Styleguide 5.21

.SectionHeading {
  overflow-y: hidden;
}

.SectionHeading-title {
  margin-bottom: -11px;

  color: $Theme-color-concrete;

  font-family: map-get($Theme-font-families, subvisual);
  font-size: 46px;
  letter-spacing: 4px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;

  white-space: nowrap;

  @include media('>=tablet') {
    margin-bottom: -21px;

    font-size: 100px;
    letter-spacing: 6px;
  }

  @include media('>=desktop') {
    margin-bottom: -33px;

    font-size: 160px;
    letter-spacing: 8px;
  }
}
