// SeparatorImage
//
// Centers an image between two panels.
// Used on services pages
//
// markup:
// <div class="SeparatorImage">
//   <div class="SeparatorImage-image>
//     <img src="/placeholder.png">
//   </div>
//   <div class="SeparatorImage-marginFixer"></div>
// </div>
//
// Styleguide 5.3

.SeparatorImage {
  position: relative;

  width: 100%;
}

.SeparatorImage-image {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
