.SeparatorImage {
  position: relative;

  width: 100%;
}

.SeparatorImage-image {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 200px;

  transform: translate(-50%, -50%);

  @include media('>=desktop') {
    width: 250px;
  }
}
