// SeparatorImage
//
// Centers an image between two visual containers (e.g. Panel).
// Used on services pages
//
// markup:
// <div class="SeparatorImage">
//   <div class="SeparatorImage-image">
//     <img src="/placeholder.png" style="width: 100px">
//   </div>
// </div>
//
// sg-wrapper:
// <div style="min-height: 100px; background-color: rebeccapurple;"></div>
// <sg-wrapper-content/>
// <div style="min-height: 100px; background-color: lightblue;"></div>
//
// Styleguide 5.3

.SeparatorImage {
  position: relative;

  width: 100%;
}

.SeparatorImage-image {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 200px;

  transform: translate(-50%, -50%);

  @include media('>=desktop') {
    width: 250px;
  }
}
