// TeamGrid
//
// A fluid grid prepared to be used with TeamMember components. It starts with
// 3 elements per row, and resizes nicely to 2 and then 1 per row, depending on
// the viewport size.
//
// Uses Suzy to help with the grid.
//
// markup:
// <div class="TeamGrid">
//   <div class="TeamGrid-cell">
//     <div>Cell 1</div>
//   </div>
//   <div class="TeamGrid-cell">
//     <div>Cell 2</div>
//   </div>
//   <div class="TeamGrid-cell">
//     <div>Cell 3</div>
//   </div>
//   <div class="TeamGrid-cell">
//     <div>Cell 4</div>
//   </div>
// </div>
//
// sg-wrapper:
// <div class="styleguide-grid-unit">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 5.4

$susy: (
  columns: 12,
  gutters: 1/4
);

.TeamGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.TeamGrid-cell {
  display: inline-flex;
  justify-content: center;
  width: 100%;

  @include media('>500px', '<700px') {
    width: span(6);
    margin-right: gutter();

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @include media('>=700px', '<1000px') {
    width: span(4);
    margin-right: gutter();

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  @include media('>=1000px') {
    width: span(3);
    margin-right: gutter();

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
