@import 'blue/theme_vars';

$TeamMember-max-width: 200px;
$TeamMember-max-width-small: 200px;

.TeamMember {
  display: flex;
  flex-direction: column;
  max-width: $TeamMember-max-width-small;

  @include media('>=700px') {
    max-width: $TeamMember-max-width;
  }
}

.TeamMember-picture {
  width: 100%;
  max-width: $TeamMember-max-width-small;
  max-height: $TeamMember-max-width-small;
  margin-bottom: $Theme-spacing-small;

  border-radius: 8px;

  @include media('>=700px') {
    max-width: $TeamMember-max-width;
  }
}

.TeamMember-name {
  @include font-properties(subvisual, base);

  margin-bottom: $Theme-spacing-xSmall;

  color: $Theme-color-brightTurquoise;

  font-weight: $Theme-typography-fontWeight-bold;
  text-transform: uppercase;

  white-space: nowrap;
}

.TeamMember-position {
  @include font-properties(heading, small);

  color: $Theme-color-horizon;

  font-weight: $Theme-typography-fontWeight-bold;
}

.TeamMember-separator {
  width: 50px;
  margin: 0;

  border: 2px solid $Theme-color-polar;
}

.TeamMember-bio {
  flex-grow: 1;
}

.TeamMember-social {
  margin-top: $Theme-spacing-small;
}

.TeamMember-socialLink {
  max-width: $Theme-spacing-small;
  margin-right: $Theme-spacing-small;
}
