$susy: (
  columns: 12,
  gutters: 1/4
);

.TeamGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.TeamGrid-cell {
  display: inline-flex;
  justify-content: center;
  width: 100%;

  @include media('>500px', '<700px') {
    width: span(6);
    margin-right: gutter();

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @include media('>=700px', '<1000px') {
    width: span(4);
    margin-right: gutter();

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  @include media('>=1000px') {
    width: span(3);
    margin-right: gutter();

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
