// TechnologiesGrid
//
// A fluid grid prepared to list the main technologies we use, highlighting the primary ones. primary technologies are moved to the beginning in smaller screens, while preserving the original order in larger ones.
//
// markup:
// <div class="TechnologiesGrid">
//   <div class="TechnologiesGrid-secondaryTechonolgy">
//     <img alt="tech logo">
//     <div>tech name</div>
//   </div>
//   <div class="TechnologiesGrid-primaryTechonolgy">
//     <img alt="tech logo">
//     <div>tech name</div>
//   </div>
//   <div class="TechnologiesGrid-secondaryTechonolgy">
//     <img alt="tech logo">
//     <div>tech name</div>
//   </div>
// </div>
//
// Styleguide 5.7

$TechnologiesGrid-primaryTechonolgy-color: #45beff;
$TechnologiesGrid-secondaryTechonolgy-color: #e0edf3;

.TechnologiesGrid {
  @include font-properties(subvisual, small);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  letter-spacing: 1px;
  text-transform: uppercase;
}

.TechnologiesGrid-primaryTechonolgy {
  display: flex;

  &:nth-child(odd) {
    padding-right: $Theme-spacing-default;
  }
  &:nth-child(even) {
    padding-left: $Theme-spacing-default;
    // align-items: flex-end;
  }
  @include media('>=tablet') {
    &:nth-child(odd),
    &:nth-child(even) {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.TechnologiesGrid-secondaryTechonolgy {
  display: none;

  @include media('>=desktop') {
    display: flex;
  }
}

.TechnologiesGrid-primaryTechonolgy,
.TechnologiesGrid-secondaryTechonolgy {
  flex: 50%;
  min-width: 50px;
  flex-direction: column;
  align-items: center;

  padding-bottom: $Theme-spacing-default;

  @include media('>=tablet') {
    flex-basis: 0;
    min-width: 100px;
  }

}

.TechnologiesGrid-logo {
  height: 50px;

  @include media('>=desktop') {
    height: 100px;
  }
}

.TechnologiesGrid-primaryTechonolgy {
  color: $TechnologiesGrid-primaryTechonolgy-color;
}

.TechnologiesGrid-secondaryTechonolgy {
  color: $TechnologiesGrid-secondaryTechonolgy-color;
}
