.root {
  @import "./body/anchor";
  @import "./body/blockquote";
  @import "./body/bold";
  @import "./body/code";
  @import "./body/code_block";
  @import "./body/heading";
  @import "./body/horizontal_rule";
  @import "./body/iframe";
  @import "./body/image";
  @import "./body/italic";
  @import "./body/list";
  @import "./body/paragraph";

  font-family: "Acta", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;

  @include media(">=desktop") {
    font-size: 20px;
    line-height: 32px;
  }

  /* Drop cap */

  & > p:first-child::first-letter {
    float: left;
    padding-right: 4px;
    margin-top: 0;

    font-family: "Acta Display subset", serif;
    font-size: 56px;
    line-height: 54px;

    @include media(">=desktop") {
      margin-top: 1px;

      font-size: 66px;
      line-height: 58px;
    }

    @-moz-document url-prefix() {
      margin-top: 9px;
    }
  }

  &.macos > p:first-child::first-letter {
    @-moz-document url-prefix() {
      margin-top: 10px;
    }
  }

  &.macos.chrome > p:first-child::first-letter {
    margin-top: 6px;
  }

  &.safari > p:first-child::first-letter {
    margin-top: 2px;
  }

  &.edge > p:first-child::first-letter {
    margin-top: 4px;
  }
}
