@import "common/breakpoints";

@import "./variables";

.root {
  max-width: $BlogPost-body-maxWidth-mobile;
  margin-left: auto;

  @include media(">=desktop") {
    max-width: $BlogPost-body-maxWidth-desktop;
  }
}
