.title {
  margin-bottom: 40px;
}

.cover {
  width: 100%;
  height: 100vw;
  max-width: 980px; /* 10 columns + 9 gutters */
  max-height: 50vh;
  margin-bottom: 40px;

  background-position: center bottom;
  background-size: cover;
  filter: grayscale(100%);
}

.info {
  width: 100%;
  max-width: calc(100vw - 40px); /* full-width, minus 20px side paddings */
  margin: 0 auto;
}

.author,
.date {
  display: block;

  font-family: colfax-web, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: 950px) {
  .wrapper {
    padding: 0 28px;
  }

  .title,
  .cover {
    margin-bottom: 56px;
  }

  .author,
  .date {
    font-size: 20px;
    line-height: 28px;
  }
}
