.root {
  font-family: "Acta Headline", serif;
  font-size: 40px;
  line-height: 44px;

  transition: opacity 0.2s;

  &:hover {
    opacity: 0.7;
  }

  @media (min-width: 950px) {
    font-size: 40px;
    line-height: 44px;
  }
}
