.root {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 28px;
  grid-row-gap: 56px;
  list-style-type: none;
}

.member {
  color: #FCFCFC;
  max-width: 100%;
}

.name {
  margin-bottom: 28px;
  margin-top: 28px;
}

.photo {
  background: #045CFC;
  mix-blend-mode: overlay;
  max-width: 100%;
}

.links {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.link {
  margin-right: 28px;
}
