.root {
  max-width: 100%;
}

.photo {
  background-color: #045cfc;
  mix-blend-mode: overlay;
  margin-bottom: 20px;
}

.info {
  margin-bottom: 20px;
}

.name {}

.role {}

.links {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.link:not(:last-child) {
  margin-right: 28px;
}

@media (min-width: 321px) {
  .photo,
  .info {
    margin-bottom: 28px;
  }
}
