.root {
  display: grid;
  grid-row-gap: 20px;
  max-width: 100%;
}

.photo {}

.info {}

.name {}

.role {}

.links {
  list-style-type: none;
  display: flex;
}

.link:not(:last-child) {
  margin-right: 28px;
}

@media (max-width: 768px) {
  .vertical {
    display: none;
  }
}

@media (min-width: 768px) {
  .horizontal {
    display: none;
  }
}

@media (min-width: 950px) {
  .root {
    grid-row-gap: 28px;
  }
}
