.root {
  max-width: 100%;
}

.photo {
  background-color: #045cfc;
  mix-blend-mode: overlay;
}

.info {
  margin-bottom: 28px;
  margin-top: 28px;
}

.name {}

.role {}

.links {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.link:not(:last-child) {
  margin-right: 28px;
}
