.root {
  padding: 28px 20px 56px;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1184px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  height: 20px;
  font-size: 16px;
}

.link {
  color: #402f4c;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: colfax-web, sans-serif;
  text-decoration: none;
}

.links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.link-item:not(:last-child) {
  margin-right: 28px;
}

@media (min-width: 321px) {
  .root {
    padding: 56px 28px 112px;
  }

  .logo {
    max-height: 28px;
    font-size: 20px;
  }

  .link {
    font-size: 20px;
    line-height: 28px;
  }
}
