@import "common/breakpoints";

.root {
  padding: 28px 20px 56px;

  @include media(">=desktop") {
    padding: 56px 28px 112px;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
}

.logo {
  height: 20px;

  font-size: 16px;

  @include media(">=desktop") {
    max-height: 28px;

    font-size: 20px;
  }
}

.nav-links {
  display: flex;
  align-items: center;

  height: 26px;
  padding: 0;

  margin: 0;

  list-style: none;

  @include media(">=desktop") {
    height: 33px;
  }
}

.nav-link {
  margin-right: 20px;

  @include media(">=desktop") {
    margin-right: 28px;
  }

  &:last-child {
    margin-right: 0;
  }
}
