.root {
  padding: 28px 20px 56px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1184px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  height: 20px;

  color: #045cfc;

  font-size: 16px;
}

.link {
  color: #402f4c;

  font-family: colfax-web, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.links {
  display: flex;
  align-items: flex-end;

  height: 26px;
  padding: 0;

  margin: 0;

  list-style: none;
}

.link-item:not(:last-child) {
  margin-right: 28px;
}

@media (min-width: 950px) {
  .root {
    padding: 56px 28px 112px;
  }

  .logo {
    max-height: 28px;

    font-size: 20px;
  }

  .links {
    height: 33px;
  }

  .link {
    font-size: 20px;
    line-height: 28px;
  }
}
