.root {
  padding: 56px 28px 112px;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1184px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  height: 20px;
}

.links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.link:not(:last-child) {
  margin-right: 28px;
}

@media (width <= 900px) {
  .root {
  }
}

@media (width <= 600px) {
  .root {
  }
}

@media (width >= 400px) {
  .logo {
    max-height: 28px;
  }
}
