.root {
  padding: 112px 20px 56px;
}

.content {
  display: grid;
  grid-row-gap: 56px;
  width: 100%;
  max-width: 1184px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  max-width: 577px;

  opacity: 0;

  animation-name: fade;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 3.4s;
  animation-fill-mode: forwards;
}

.text {
  display: grid;
  grid-row-gap: 20px;
  max-width: 577px;
}

.images {
  display: grid;
  grid-row-gap: 20px;
}

.image {
  position: relative;
  overflow-y: hidden;
}

.horizontal,
.vertical {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

@media (min-width: 320px) {
  .images {
    grid-template-rows: 168px 168px 224px;
  }
}

@media (max-width: 399px) {
  .vertical {
    display: none;
  }
}

@media (min-width: 400px) {
  .images {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 224px 320px;
    grid-column-gap: 20px;
  }

  .image:nth-child(3) {
    grid-column: 1 / span 2;
  }

  .horizontal {
    display: none;
  }

  .vertical {
    height: 100%;
  }
}

@media (min-width: 509px) {
  .images {
    grid-template-rows: 320px 452px;
  }
}

@media (min-width: 768px) {
  .content {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }

  .title {
    grid-column: 1 / span 2;
  }

  .text {
    grid-column: 2 / span 1;
    grid-row-gap: 20px;
  }

  .images {
    grid-column: 1 / span 2;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: initial;
    grid-column-gap: 20px;
    grid-row-gap: initial;
  }

  .image:nth-child(3) {
    grid-column: 3 / span 2;
  }

  .vertical {
    position: initial;
    top: initial;
    transform: initial;
  }
}

@media (min-width: 950px) {
  .root {
    padding: 112px 28px;
  }

  .title {
    max-width: 100%;
  }

  .content {
    grid-column-gap: 28px;
    grid-row-gap: 112px;
  }

  .text {
    grid-row-gap: 28px;
  }

  .images {
    grid-column-gap: 28px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
