.root {
  display: grid;
  grid-row-gap: 28px;

  list-style-type: none;
}

@media (min-width: 384px) {
  .root {
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 576px) {
  .root {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .root {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 950px) {
  .root {
    grid-column-gap: 28px;
    grid-row-gap: 56px;
  }
}
