.Panel.Panel--easymoneyGradient
  .u-defaultThenLargeMargin
  .GridCell.GridCell--alignCenter
    .GridCell-content
      img.RatioEnforcer.u-defaultMargin(
        src="#{image_path('case-studies/easy-money/origami-divider.png')}"
        srcset="#{image_path('case-studies/easy-money/origami-divider.png')} 670w, #{image_path('case-studies/easy-money/origami-divider@2x.png')} 1340w"
        sizes="(min-width: 640px) 640px, calc(100vw - 50px)"
      )
      .ContentFormatter.ContentFormatter--centerHorizontally
        h2.Heading.Heading--brand.u-defaultMargin
          span.Heading-light> Focusing on the
          span.Heading-highlight Job-To-Be-Done
      p.Text.Text--light.u-smallMargin
        ' By defining the content of the vouchers, we had what we needed to
        ' start working on the flow of creating one from scratch. We had to main
        ' goals for this stage. The flow had to be seamless and painless,
        ' providing a delightful experience for the users, while it had to feel
        ' trustworthy so the users would actually use the platform to send
        | money.
      p.Text.Text--light.u-defaultThenLargeMargin
        ' We designed a 2-step flow, that started by focusing the user on his
        ' available cards and prompting him to choose the one he wanted to fund
        ' the voucher. After selecting a card, the next screen would have a
        ' gradient background based on that card’s currency, providing a strong
        | visual context while clearly dividing the card from the form.
      #animate-showcase.easy-ImageShowcase.u-defaultThenLargeMargin
        .easy-ImageShowcase-main
          img.RatioEnforcer(
            src="#{image_path('case-studies/easy-money/create-voucher-2.png')}"
            srcset="#{image_path('case-studies/easy-money/create-voucher-2.png')} 612w, #{image_path('case-studies/easy-money/create-voucher-2@2x.png')} 1224w"
            sizes="(min-width: 600px) 600px, calc(100vw - 50px)"
            alt="Create Voucher form - part 2"
          )
        .easy-ImageShowcase-left
          img.RatioEnforcer(
            src="#{image_path('case-studies/easy-money/create-voucher-1.png')}"
            srcset="#{image_path('case-studies/easy-money/create-voucher-1.png')} 612w, #{image_path('case-studies/easy-money/create-voucher-1@2x.png')} 1224w"
            sizes="(min-width: 600px) 600px, calc(100vw - 50px)"
            alt="Create Voucher form - part 1"
          )
        .easy-ImageShowcase-right
          img.RatioEnforcer(
            src="#{image_path('case-studies/easy-money/created-voucher.png')}"
            srcset="#{image_path('case-studies/easy-money/created-voucher.png')} 612w, #{image_path('case-studies/easy-money/created-voucher@2x.png')} 1224w"
            sizes="(min-width: 600px) 600px, calc(100vw - 50px)"
            alt="Created Voucher page"
          )
      p.Text.Text--light.u-defaultThenLargeMargin
        ' To create a voucher, you obviously need to have cards with funds.
        ' Since easy.money wouldn’t allow for currency conversion directly in
        ' the platform (it redirects the user to Bitreserve), we opted to apply
        ' a filter that would only show the cards with funds available on the
        ' moment of creating a new voucher. The user could still choose to see
        ' all his cards, but if he selected one with no funds a modal would
        ' pop-up explaining he could either select another card or deposit money
        | through his Bitreserve account.
      figure.u-largeMargin
        img.RatioEnforcer(
          src="#{image_path('case-studies/easy-money/no-funds.png')}"
          srcset="#{image_path('case-studies/easy-money/no-funds.png')} 600w, #{image_path('case-studies/easy-money/no-funds@2x.png')} 1200w"
          sizes="(min-width: 600px) 600px, calc(100vw - 50px)"
          alt="The user is prompted with this warning that provides him with two viable options"
        )
        figcaption.Text.Text--dimLight.Text--italic.Text--extraSmall.u-textAlignCenter
          ' The user is prompted with this warning that provides him with two
          | viable options
      img.RatioEnforcer.u-defaultMargin(
        src="#{image_path('case-studies/easy-money/shield-divider.png')}"
        srcset="#{image_path('case-studies/easy-money/shield-divider.png')} 670w, #{image_path('case-studies/easy-money/shield-divider@2x.png')} 1340w"
        sizes="(min-width: 640px) 640px, calc(100vw - 50px)"
      )
      .ContentFormatter.ContentFormatter--centerHorizontally.u-smallThenDefaultMargin
        h2.Heading.Heading--brand
          span.Heading-light> Taking
          span.Heading-highlight> Security
          span.Heading-light seriously
      p.Text.Text--light.u-smallMargin
        ' Knowing these vouchers could be used to transact large amounts, we
        ' tinkered with the security measures we were going to apply to make
        ' sure that easy.money was safe and trustworthy. Data protection is a
        ' very sensitive subject when it comes to digital finances and we can’t
        ' take any chances when we’re dealing with such valious information. We
        ' invested a significant amount of time crafting robust security
        ' measures and we worked closely with the Bitreserve team to make sure
        | no stone was left unturned.
      p.Text.Text--light.u-defaultThenLargeMargin
        | Needless to say, it was time well spent.
