@import "common/breakpoints";

.loadMore {
  margin: 124px 0;

  text-align: center;
}

.root {
  width: 100%;
  max-width: 1134px;
  padding: 28px 20px 56px;
  margin: 0 auto;

  @include media(">=desktop") {
    padding: 28px 28px 56px;
  }
}
