@import "common/breakpoints";

.root {
  padding-right: 20px;
  padding-bottom: 56px;
  padding-left: 20px;

  @media (min-width: 950px) {
    padding-right: 28px;
    padding-left: 28px;
  }
}

.content {
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.tag {
  text-transform: capitalize;
}
