$Theme-color-apricot: #ffc56c;
$Theme-color-aquaMarine: #48d8e8;
$Theme-color-aquaMarineClear: #50e3c2;
$Theme-color-cornflower: #ffa6a6;
$Theme-color-cerulean: #0096bc;
$Theme-color-darkSlateBlue: #134652;
$Theme-color-grapefruit: #ff4c4c;
$Theme-color-peach: #ffe2b6;
$Theme-color-slate: #3c5961;
$Theme-color-tealish: #2bd6d8;
$Theme-color-waterBlue: #1da2cf;
$Theme-color-white: #ffffff;
