// Colors
$oncostats-color-aqua-marine: #48d8e8;
$oncostats-color-cerulean: #0096bc;
$oncostats-color-slate: #3c5961;
$oncostats-color-water-blue: #1da2cf;
$oncostats-color-white: #ffffff;

// Color scheme
$oncostats-Theme-color-scheme: (
  background: (
    base: $oncostats-color-white,
    inverted: $oncostats-color-cerulean,
    hero: (
      light: $oncostats-color-aqua-marine,
      dark: $oncostats-color-water-blue
    )
  ),
  text: (
    base: $oncostats-color-slate,
    inverted: $oncostats-color-white
  )
);

