---
title: Subvisual - Consulting
page: work
---

.Panel
  .u-navPlaceholder
  = partial 'work/consulting/hero'
.SeparatorImage
  .SeparatorImage-image
    = partial 'work/consulting.svg'
= partial 'work/consulting/intro'
= partial 'work/consulting/values_and_quotes'
= partial 'technologies'
= partial 'testimony', locals: { quote: '“We engaged with Subvisual to help us innovate our User Interface Automation System. They did a tremendous job and even went further than what we asked, creating a broader system which made our day-to-day tasks a lot smoother."', author: 'Mauro Martins', job: 'Delivery Manager at Blip', img_path: 'mauro', alt_text: "Mauro Martins' picture" }
= partial 'work_with_us', locals: { text: "Looking for expert help in a specific project?", buttonText: "Let's talk" }
= partial 'subvisual_separator'
= partial 'newsletter'
= partial 'footer'
