---
title: Subvisual - Product Development
page: work
---

.Panel
  .u-navPlaceholder
  = partial 'work/product_development/hero'
.SeparatorImage
  .SeparatorImage-image
    = partial 'work/product_development.svg'
= partial 'work/product_development/intro'
= partial 'work/product_development/we_are_agile'
= partial 'testimony', locals: { quote: '“A flexible and talented team that can adapt to any circumstance. Building software for healthcare is extremely challenging, but they are doing an impressive work”', author: 'Miguel Silva', job: 'CEO at OncoStats', img_path: 'miguel-oncostats', alt_text: "Miguel Silva's picture" }
= partial 'work_with_us', locals: { text: "Do you have something exciting for us to start working on?", buttonText: "Let's get to work" }
= partial 'work/product_development/prototypes'
= partial 'case-studies/easy-money-link'
= partial 'subvisual_separator'
= partial 'newsletter'
= partial 'footer'
