---
title: Subvisual - Training
page: work
---

.Panel
  .u-navPlaceholder
  = partial 'work/training/hero'
.SeparatorImage
  .SeparatorImage-image
    = partial 'work/training.svg'
= partial 'work/training/intro'
= partial 'testimony', locals: { quote: '“The software engineers led by Roberto at Subvisual are extremely passionate about what they do. They are extremely competent as engineers, they show a natural passion for teaching”', author: 'João Miguel Fernandes', job: 'Full Professor at University of Minho', img_path: 'jmf', alt_text: "João Miguel Fernades' picture" }
= partial 'work/training/skills'
= partial 'testimony', locals: { quote: '“The Rails course was not only about programming. Understanding the web development process and its best practices was enlightening”', author: 'Vasco Silva', job: 'Developer at Tekzenit', img_path: 'vasco', alt_text: "Vasco's picture" }
= partial 'work_with_us', locals: { text: "Looking for expert help in a specific project?", buttonText: "Let's talk" }
= partial 'subvisual_separator'
= partial 'newsletter'
= partial 'footer'
