h2.Heading.Heading--section.u-defaultMargin How we can produce change
.u-defaultMargin
.OncostatsVideo
  .OncostatsVideo-videoContainer
    iframe(
      class="OncostatsVideo-video"
      src="https://player.vimeo.com/video/197913400?title=0&byline=0&portrait=0"
      width="100%"
      height="100%"
      frameborder="0"
      webkitallowfullscreen=""
      mozallowfullscreen=""
      allowfullscreen=""
    )
.u-defaultMargin
p.Text.u-defaultMargin
  ' Most software used by public institutions to manage their information is
  ' deprecated. With a complete disregard for the user's experience and a
  ' negligent lack of understanding of the singular context of its usage, we
  | got used to the frustration of dealing with these poor interfaces.
p.Text.u-defaultMargin
  ' But even worse than the frustration caused by those poor experiences, is
  ' the invaluable loss of data that's vital for our intentions to learn from
  | practice, acquire knowledge and ultimately evolve.
p.Text.u-defaultMargin
  ' In this big pool of public institutions, Hospitals are particularly
  ' sensitive. They deal with our most fragile aspect and face the herculean
  ' task of developing new treatments, procedures and preventive actions to
  | match the galloping diseases that kill by the thousands every year.
p.Text.u-defaultMargin
  ' Technology can (must?) play a huge role in aiding scientists and doctors to
  ' be more efficient and proactive towards these afflictions as well as making
  | patients feel safer, by keeping them informed and aware of their situation.
p.Text
  ' By 2016, the biggest monster in this huge lake is still cancer. In the US
  ' alone it's estimated that 595,690 people will die from cancer this year.
  | That's approximately 1,630 deaths per day.
