@import "common/breakpoints";

.heading {
  position: relative;

  padding-left: 52px;
  margin-bottom: 28px;

  text-transform: uppercase;

  @media (min-width: 950px) {
    margin-bottom: 42px;
  }

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 0;

    width: 32px;
    height: 1px;

    background-color: var(--c-purple-1);

    transform: translateY(-50%);
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 8px;

  @media (min-width: 950px) {
    gap: 23px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;

  width: 100%;
  height: 147px;
  padding: 21px 17px;

  background-color: var(--c-blue-2);
  border-radius: 28px;

  @media (min-width: 950px) {
    height: 235px;
    padding: 40px 33px;
    gap: 28px;
  }
}

.title {
  font-size: 20px;
  line-height: 24px;

  @media (min-width: 950px) {
    font-size: 28px;
    line-height: 34px;
  }
}

.cta {
  color: var(--c-blue-1);
}
