.GridCell
  .GridCell-content
    .u-defaultThenLargeMargin
    .ContentFormatter.ContentFormatter--centerHorizontally
      img.u-onlySmall(
        src="#{image_path('homepage/practices/mobile-responsive.png')}"
        srcset="#{image_path('homepage/practices/mobile-responsive.png')} 150w, #{image_path('homepage/practices/mobile-responsive@2x.png')} 300w"
        sizes="150px"
        alt="Devices with different resolutions"
      )
      img.u-onlyResponsibleResponsiveDesignPicture(
        src="#{image_path('homepage/practices/intermediate-responsive.png')}"
        srcset="#{image_path('homepage/practices/intermediate-responsive.png')} 226w, #{image_path('homepage/practices/intermediate-responsive@2x.png')} 452w"
        sizes="225px"
        alt="Devices with different resolutions"
      )
      img.u-onlyAboveResponsibleResponsiveDesignPicture(
        src="#{image_path('homepage/practices/responsive.png')}"
        srcset="#{image_path('homepage/practices/responsive.png')} 407w, #{image_path('homepage/practices/responsive@2x.png')} 814w"
        sizes="416px"
        alt="Devices with different resolutions"
      )
      .u-smallThenDefaultMargin
      .Heading.Heading--brand.u-xSmallThenSmallMargin
        ' Responsible Responsive
        span.Heading-highlight Design
      .Text.u-defaultThenLargeMargin
        ' We are experienced in dealing with the challenges of designing and
        | building products that perform efficiently across every device possible.
