---
title: Subvisual - Articles of Style
nav_class: Nav--transparent
---

- content_for :stylesheets
  = stylesheet_link_tag 'case-studies/articles-of-style'

= partial 'case-studies/articles-of-style/hero'
= partial 'case-studies/articles-of-style/challenge'
= partial 'case-studies/articles-of-style/customization'
= partial 'case-studies/articles-of-style/navigation'
= partial 'case-studies/articles-of-style/quote'
= partial 'experience'
= partial 'blog_posts', locals: { heading_class: "AOSSectionHeading" }
= partial 'subvisual_separator'
= partial 'footer'
