---
title: Subvisual - Creators School Case Study
nav_class: Nav--transparent
page: work
---

- content_for :stylesheets
  = stylesheet_link_tag 'case-studies/creators-school'

.Panel.cs-Panel--hero1
  .u-navPlaceholder
  = partial 'case-studies/creators-school/hero'
= partial 'case-studies/creators-school/fact_in_2020'
= partial 'case-studies/creators-school/back_in_2013'
= partial 'case-studies/creators-school/deconstructing'
= partial 'case-studies/creators-school/fact_steve_jobs'
= partial 'case-studies/creators-school/learning_to_code'
= partial 'case-studies/creators-school/evolving'
= partial 'case-studies/creators-school/2013'
= partial 'case-studies/creators-school/2014'
= partial 'case-studies/creators-school/2015/intro'
= partial 'case-studies/creators-school/2015/format'
= partial 'case-studies/creators-school/2015/skills'
= partial 'case-studies/creators-school/2015/new_face'
= partial 'case-studies/creators-school/2015/conclusion'
= partial 'case-studies/creators-school/2015/gallery'
= partial 'case-studies/creators-school/2015/footer'
= partial 'subvisual_separator'
= partial 'case-studies/creators-school/plug'
