---
title: Subvisual - easy.money Case Study
nav_class: Nav--transparent
page: work
---

- content_for :stylesheets
  = stylesheet_link_tag 'case-studies/easy-money'

- content_for :javascripts
  = javascript_include_tag 'case-studies/easy-money/all'

.Panel.Panel--easymoneyGradient
  .u-navPlaceholder
  = partial 'case-studies/easy-money/hero'
  = partial 'case-studies/easy-money/intro'
= partial 'case-studies/easy-money/design_sprint'
= partial 'case-studies/easy-money/solution_create_voucher'
= partial 'case-studies/easy-money/solution_redeem_voucher'
= partial 'case-studies/easy-money/launch'
= partial 'subvisual_separator'
= partial 'case-studies/easy-money/plug'
