---
title: Subvisual - Oncostats Case Study
nav_class: Nav--transparent
page: work
---

- content_for :stylesheets
  = stylesheet_link_tag "case-studies/oncostats"

- content_for :javascripts
  = javascript_include_tag "case-studies/oncostats"

= partial "case-studies/oncostats/hero"
= partial "case-studies/oncostats/intro"
= partial "case-studies/oncostats/design_sprint"
= partial "case-studies/oncostats/next_steps"
= partial "subvisual_separator"
= partial "footer"
