@import "common/breakpoints";

.posts {
  list-style: none;

  @include media(">=tablet") {
    display: grid;
    align-items: stretch;
    grid-column-gap: 28px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.item {
  padding: 28px 0;

  &:not(:first-child) {
    border-top: 1px solid currentColor;
  }

  @include media(">=tablet") {
    &:nth-child(-n + 2) {
      border-top: none;
    }
  }

  @include media(">=desktop") {
    padding: 40px 0;
  }
}

.post {
  max-width: 442px;
}

.title {
  display: block;
  margin-bottom: 20px;

  font-family: "Acta";
  font-size: 20px;
  line-height: 28px;

  @include media(">=desktop") {
    margin-bottom: 40px;

    font-size: 28px;
    line-height: 40px;
  }

  /**
   * Fix for Firefox font rendering issues.
   */
  @-moz-document url-prefix() {
    font-weight: lighter;
  }
}

.intro {
  margin-bottom: 20px;

  font-family: "Acta", serif;

  @include media(">=desktop") {
    margin-bottom: 28px;
  }

  /**
   * Fix for Firefox font rendering issues.
   */
  @-moz-document url-prefix() {
    font-weight: lighter;
  }
}

.info {
  display: flex;
  align-items: center;

  opacity: 0.6;

  font-family: colfax-web;
}

.categories {
  margin-top: 28px;
}
