@import "common/breakpoints";

.posts {
  width: 100%;
  max-width: 1039px;
  margin: 0 auto;

  list-style: none;

  @include media(">=tablet") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 28px;
    align-items: stretch;
  }
}

.item {
  padding: 28px 0;

  border-bottom: 1px solid currentColor;

  @include media(">=desktop") {
    padding: 40px 0;
  }
}

.post {
}

.title {
  display: block;
  margin-bottom: 20px;

  color: #2421ab;

  font-family: "Acta Headline";
  font-size: 20px;
  line-height: 28px;

  @include media(">=desktop") {
    margin-bottom: 40px;
    font-size: 28px;
    line-height: 40px;
  }

  /**
   * Fix for Firefox font rendering issues.
   */
  @-moz-document url-prefix() {
    font-weight: lighter;
  }
}

.intro {
  margin-bottom: 20px;

  font-family: "Acta", serif;

  @include media(">=desktop") {
    margin-bottom: 28px;
  }

  /**
   * Fix for Firefox font rendering issues.
   */
  @-moz-document url-prefix() {
    font-weight: lighter;
  }
}

.info {
  font-family: colfax-web;
  opacity: 0.6;
  display: flex;
  align-items: center;
}

.categories {
  margin-top: 28px;
}

.author,
.date {
  font-size: 16px;
  line-height: 21px;
  display: block;
}
