@import "common/breakpoints";

.posts {
  width: 100%;
  max-width: 1039px;
  margin: 0 auto;

  list-style: none;

  @include media(">=tablet") {
    display: grid;
    align-items: stretch;
    grid-column-gap: 28px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.item {
  padding: 28px 0;

  border-bottom: 1px solid currentColor;

  @include media(">=desktop") {
    padding: 40px 0;
  }
}

.title {
  display: block;
  margin-bottom: 20px;

  color: #2421ab;

  font-family: "Acta Headline";
  font-size: 20px;
  line-height: 28px;

  @include media(">=desktop") {
    margin-bottom: 40px;

    font-size: 28px;
    line-height: 40px;
  }

  /**
   * Fix for Firefox font rendering issues.
   */
  @-moz-document url-prefix() {
    font-weight: lighter;
  }
}

.intro {
  margin-bottom: 20px;

  font-family: "Acta", serif;

  @include media(">=desktop") {
    margin-bottom: 28px;
  }

  /**
   * Fix for Firefox font rendering issues.
   */
  @-moz-document url-prefix() {
    font-weight: lighter;
  }
}

.info {
  display: flex;
  align-items: center;

  opacity: 0.6;

  font-family: colfax-web;
}

.photo,
.noPhoto {
  margin-right: 16px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.noPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--c-white-1);
}

.categories {
  margin-top: 28px;

  color: var(--c-blue-1);

  &:nth-child(2n) {
    color: var(--c-purple-1);
  }
}

.author,
.date {
  display: block;

  font-size: 16px;
  line-height: 21px;
}
