.root {
  display: flex;
  justify-content: center;

  padding: 32px 20px;

  background-image: url(../../images/footer.jpg);
  background-size: cover;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;

  @media (min-width: 800px) {
    padding: 112px 28px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  max-width: var(--content-max-width);
  gap: 191px;

  color: var(--c-white-1);

  @media (min-width: 800px) {
    gap: 84px;
  }
}

.button {
  display: flex;
  justify-content: center;
  width: 100%;

  @media (min-width: 800px) {
    justify-content: flex-start;
  }
}

.text {
  padding-right: 60px;

  font-family: "colfax-web", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 56px;

  span {
    color: var(--c-pink-1);

    font-family: "Acta", serif;
  }

  @media (min-width: 800px) {
    font-size: 84px;
    line-height: 92.4px;
  }
}
