.root {
  height: 500px;

  background-image: url(../../images/footer.png);
  background-size: cover;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;

  @media (min-width: 768px) {
    height: 586px;
  }
}

.content {
  margin: 112px 16px;

  color: var(--c-white-1);

  font-family: "Acta";
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;

  @media (min-width: 768px) {
    margin-left: 56px;
  }

  @media (min-width: 950px) {
    margin: 112px 117px;
  }
}

.text {
  margin-bottom: 84px;

  span {
    color: #ff7b9b;
  }

  @media (min-width: 768px) {
    font-size: 56px;
    line-height: 64px;
  }

  @media (min-width: 950px) {
    font-size: 84px;
    line-height: 92.4px;
  }
}
