.root {
  position: relative;
  padding: 112px 20px;
}

.background {
  position: absolute;

  width: 600%;
  height: 100%;

  top: 0;
  left: 50%;

  border-radius: 100% / 50%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  background-color: #045cfc;

  transform: translateX(-50%);
  z-index: -1;
}

.content {
  display: grid;
  grid-row-gap: 56px;
  max-width: 1184px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerIcon {
  width: 58px;
  height: 56px;
}

.story {
  display: grid;
  grid-row-gap: 56px;
}

.section {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 28px;
}

.text {
  max-width: 577px;
}

@media (min-width: 768px) {
  .story {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: initial;
  }
}

@media (min-width: 950px) {
  .root {
    padding: 224px 28px 112px;
  }

  .content {
    grid-row-gap: 112px;
  }

  .headerIcon {
    width: 98px;
    height: 96px;
  }

  .story {
    grid-column-gap: 28px;
  }

  .title {
    margin-bottom: 56px;
  }
}
