.VenturesSection {
  padding: 112px 28px 224px;
}

.VenturesSection-content {
  max-width: 1184px;
  margin-right: auto;
  margin-left: auto;
}

.VenturesSection-header,
.VenturesSection-section,
.VenturesSection-footer {
  max-width: 578px;
  margin-left: auto;
}

.VenturesSection-header:not(:last-child),
.VenturesSection-section:not(:last-child),
.VenturesSection-footer:not(:last-child) {
  margin-bottom: 112px;
}
