@import "common/breakpoints";

.root {
  @include media(">=desktop") {
    margin: 0 auto;
  }
}

.article {
  padding-bottom: 84px;

  @include media(">=desktop") {
    padding-bottom: 224px;
  }
}

.header {
  margin-bottom: 88px;

  @include media(">=desktop") {
    margin-bottom: 112px;
  }
}

.outer-wrapper {
  position: relative;

  max-width: 980px;
  margin-right: auto;
  margin-bottom: 84px;

  @include media(">=800px") {
    margin-bottom: 0;
  }
}

.inner-wrapper {
  margin-bottom: 84px;

  @include media(">=800px") {
    margin-bottom: 0;
  }
}

.share-links {
  display: block;
  margin: 0 auto;

  @include media(">=800px") {
    position: absolute;
    top: 0;
    left: 20px;

    max-width: 14%;
  }

  @include media(">=desktop") {
    left: 28px;
  }

  @include media(">=1182px") {
    left: calc(619px - 50vw);
  }

  @include media(">=1238px") {
    left: 0;
  }
}
