@import "common/breakpoints";

.root {
  @include media(">=desktop") {
    margin: 0 auto;
  }
}

.article {
  padding-bottom: 84px;

  @include media(">=desktop") {
    padding-bottom: 102px;
  }
}

.header {
  margin-bottom: 88px;

  @include media(">=desktop") {
    margin-bottom: 112px;
  }
}

.outer-wrapper {
  position: relative;

  max-width: 980px;
  margin-right: auto;
  margin-bottom: 84px;

  @include media(">=800px") {
    margin-bottom: 0;
  }
}

.inner-wrapper {
  margin-bottom: 84px;

  @include media(">=800px") {
    margin-bottom: 0;
  }
}

.bio {
  margin-bottom: 62px;
}

.share-links {
  padding: 0 20px;
  margin: 0 auto 166px auto;
}
