@import "common/breakpoints";

.root {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;

  list-style: none;
}

.item {
  padding: 28px 0;

  border-bottom: 1px solid currentColor;

  @include media(">=desktop") {
    padding: 40px 0;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;

    border-bottom: none;
  }
}
