.root {
  position: fixed;

  top: 0;
  z-index: 1;

  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100vw;

  padding-top: 30px;
  padding-right: 28px;
  padding-left: 14px;

  color: var(--c-white-1);

  transition: color 1s;

  @media (min-width: 768px) {
    padding-right: 58px;
  }
}

.isScrolled {
  padding-bottom: 40px;

  background-color: var(--c-white-2);
  color: var(--c-gray-1);

  transition: color 1s;
}
