.root {
  position: fixed;

  top: 0;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  width: 100vw;

  padding-top: 40px;
  padding-left: 28px;
  padding-right: 86px;

  color: var(--c-white-1);

  transition: color 1s;

  @media (min-width: 768px) {
    align-items: end;
  }
}

.isScrolled {
  position: fixed;

  top: 0;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  width: 100vw;

  padding-top: 40px;
  padding-right: 86px;
  padding-bottom: 40px;
  padding-left: 28px;

  background-color: var(--c-white-2);
  color: var(--c-gray-1);

  transition: color 1s;

  @media (min-width: 768px) {
    align-items: end;
  }
}

.logo {
  padding-left: 28px;

  color: currentColor;

  font-family: "Acta Headline", serif;
  font-weight: 800;

  @media (min-width: 950px) {
    font-size: 40px;
    line-height: 44px;
  }
}
