.root {
  position: relative;
  width: 100%;
}

.root svg {
  width: 100%;
}

.planet {
  position: absolute;
}

.planet:nth-child(1) {
  top: 38%;
  left: 42.5%;
  width: 18%;
  height: 18%;
}

@media (min-width: 768px) {
  .root {
    padding: 0 10%;
  }
}
