.root {
  position: relative;

  display: inline-block;

  font-family: colfax-web, sans-serif;
  font-weight: 700;
  text-decoration: none;

  &::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    border-bottom: 3px solid currentColor;

    transform: translateY(1px);

    transition: transform 0.2s;
  }

  &:hover::after {
    @media (min-width: 768px) {
      transform: translateY(3px);

      transition: transform 0.2s;
    }
  }

  &.blue {
    color: #2421ab;
  }

  &.white {
    color: #fcfcfc;
  }

  &.regular {
    font-size: 16px;
    line-height: 20px;

    @media (min-width: 950px) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &.large {
    font-size: 20px;
    line-height: 28px;

    @media (min-width: 950px) {
      font-size: 28px;
      line-height: 40px;
    }

    &::after {
      border-bottom-width: 4px;
    }
  }
}
