.root {
  overflow: hidden;

  background-color: transparent;

  color: #403f4c;
}

.blue {
  background-color: #045cfc;
  color: #fcfcfc;
}

.white {
  background-color: #fcfcfc;
  color: #045cfc;
}
