.root {
  display: inline-flex;
  align-items: center;
  height: 100%;

  color: currentColor;
}

.root.blue {
  color: #045cfc;
}

.root.white {
  color: white;
}

.root svg {
  display: inline-block;
  height: 1em;
}
