.root {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.splash {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;

  background-color: rgb(4, 92, 252);
  border-radius: 50%;

  transform: translate(-50%, -50%);
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 11;

  width: 100%;

  transform: translateX(-50%) translateY(-50%);
}

.logo svg {
  display: block;
  width: calc(100% - 80px);
  max-width: 495px;
  margin: 0 auto;
}

@media only screen and (orientation: portrait) {
  .splash {
    width: 150vh;
    height: 150vh;
  }
}

@media only screen and (orientation: landscape) {
  .splash {
    width: 150vw;
    height: 150vw;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
