.root {
  font-family: "Acta Headline";
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
}

.root.black {
  color: #403f4c;
}

.root.white {
  color: #fcfcfc;
}

@media (min-width: 321px) {
  font-size: 40px;
  line-height: 56px;
}

/**
 * Fix for Firefox font rendering issues.
 */
@-moz-document url-prefix() {
  .root {
    font-weight: lighter;
  }
}
