.u-beginnerBallooon {
  display: inline-block;

  width: 135px;
  height: 200px;

  background-image: image-url('apprenticeship/level_balloons.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.u-intermediateBalloon {
  display: inline-block;

  width: 194px;
  height: 200px;

  background-image: image-url('apprenticeship/level_balloons.png');
  background-repeat: no-repeat;
  background-position: -135px;
  background-size: auto 100%;
}

@mixin apprentice-pictures($position) {
  width: 60px;
  height: 60px;

  border-radius: 50%;

  background-image: image-url('apprenticeship/apprentices@2x.png');
  background-position: #{- $position * 60px};
  background-repeat: no-repeat;
  background-size: auto 100%;

  @include media('>tablet') {
    width: 100px;
    height: 100px;

    background-position: #{- $position * 100px};
  }
}

.u-marioPicture {
  @include apprentice-pictures(0);
}

.u-justoPicture {
  @include apprentice-pictures(1);
}

.u-bailaPicture {
  @include apprentice-pictures(2);
}
