.root {
  padding: 56px 20px 168px;
}

.content {
  display: grid;
  grid-row-gap: 56px;
  max-width: 1184px;
  margin-right: auto;
  margin-left: auto;
}

.header,
.lookingFor,
.helpingWith,
.universe {
  max-width: 577px;
}

.section {
  display: grid;
  grid-row-gap: 28px;
}

.footer {
  padding-top: 112px;
}

@media (min-width: 768px) {
  .content {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }

  .header,
  .lookingFor,
  .helpingWith,
  .footer {
    grid-column: 2 / span 1;
  }

  .universe {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    display: flex;
    align-items: center;
  }

  .portfolio {
    grid-column: 1 / span 2;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }

  .portfolioHeader {
    grid-column: 2 / span 1;
  }

  .portfolioContent {
    grid-column: 1 / span 2;
  }
}

@media (min-width: 950px) {
  .root {
    padding: 112px 28px 224px;
  }

  .content {
    grid-column-gap: 28px;
    grid-row-gap: 112px;
  }

  .section {
    grid-row-gap: 56px;
  }

  .portfolio {
    grid-column-gap: 28px;
  }
}
