.root {
  padding: 56px 20px 168px;
}

.content {
  display: grid;
  grid-row-gap: 56px;
  max-width: 1184px;
  margin-right: auto;
  margin-left: auto;
}

.subheader {
  margin-bottom: 28px;
}

@media (min-width: 321px) {
  .root {
    padding: 112px 28px 224px;
  }

  .content {
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 28px;
    grid-row-gap: 112px;
  }

  .header,
  .lookingFor,
  .helpingWith,
  .footer {
    grid-column: 2 / span 1;
    margin-bottom: 0;
  }

  .portfolio {
    grid-column: 1 / span 2;
    margin-bottom: 0;
  }

  .portfolio .subheader {
    max-width: 578px;
    margin-left: auto;
  }

  .universe {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 578px;
    margin-bottom: 0;
  }

  .subheader {
    margin-bottom: 56px;
  }
}
