.root {
  padding: 56px 20px 168px;
}

.content {
  display: grid;
  grid-row-gap: 56px;
  max-width: 1184px;
  margin-right: auto;
  margin-left: auto;
}

.subheader {
  margin-bottom: 28px;
}

@media (min-width: 768px) {
  .root {
    padding: 112px 28px 224px;
  }

  .content {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 28px;
    grid-row-gap: 112px;
  }

  .header,
  .lookingFor,
  .helpingWith,
  .footer {
    grid-column: 2 / span 1;
  }

  .portfolio {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 28px;
  }

  .portfolioHeader {
    grid-column: 2 / span 1;
  }

  .portfolioContent {
    grid-column: 1 / span 2;
  }

  .universe {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
  }

  .subheader {
    margin-bottom: 56px;
  }
}
