.Panel.cs-Panel--transparent.cs-Stripe.cs-Stripe--blueTriangle.cs-Stripe--inverted.cs-Stripe--noBottom
  .u-defaultThenLargeMargin
  .GridCell.GridCell--alignCenter.GridCell--small
    .GridCell-content
      .Text.Text--blog
        p.u-smallMargin
          ' It sounded absolutely perfect. We liked the thought that code could
          ' be a superpower. Creators School is all about turning ordinary people
          ' into super-heroes by teaching them how to speak the language of
          ' computers.
        p
          ' This idea helped us show people what coding can be
          ' nowadays. We associated our message about debunking the myths that
          ' surround coding with illustrations of superheroes and the testimonies
          ' of real professionals. We also managed to communicate what some of
          ' these technologies actually are, and how they can change people’s
          ' lives for the better. The success of this initiative is a step
          | towards making the third edition of Creators School a success.


  .u-defaultThenLargeMargin
