.container {
  position: relative;

  display: flex;
  justify-content: center;

  height: 586px;
  margin: 0 8px;

  margin-bottom: 112px;
  overflow: hidden;

  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
}

.image {
  width: fit-content;
}

.callToAction {
  position: absolute;

  top: 0;
  left: 0;
  z-index: 1;

  margin: 112px 16px;
}

.callToAction h1 {
  margin-bottom: 84px;

  color: #fff;

  font-family: "Acta";
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}

.callToAction span {
  color: #ff7b9b;
}

.button {
  padding: 29px 39px;

  border: 1px solid #fff;
  border-radius: 50px;

  color: #fff !important;

  text-transform: uppercase;

  transition: background-color 0.2s, color 0.2s;
}

.button:hover {
  background-color: #fff;
  color: #ff7b9b !important;
}

@media (min-width: 768px) {
  .callToAction {
    margin-left: 56px;
  }

  .callToAction h1 {
    font-size: 56px;
    line-height: 64px;
  }
}

@media (min-width: 950px) {
  .container {
    margin: 0 28px;

    margin-bottom: 112px;
  }

  .callToAction {
    margin: 112px 117px;
  }

  .callToAction h1 {
    font-size: 84px;
    line-height: 92.4px;
  }
}
