.container {
  padding-bottom: 74px;
}

.content {
  align-self: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1228px;
  padding: 0 40px;
  margin: 0 auto;
}

.information {
  grid-row: auto auto;
  display: grid;
  grid-row-gap: 28px;
  grid-template-columns: 1fr;
}

.itemLabel {
  padding-bottom: 16px;

  color: #045cfc;
}

.redirects {
  grid-row: auto auto;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 16px;
  grid-template-columns: 168px auto;
}

@media (min-width: 950px) {
  .container {
    padding-bottom: 102px;
  }

  .information {
    grid-column-gap: 28px;
    grid-row-gap: 56px;
    grid-template-columns: 1fr 1fr;
  }

  .itemLabel {
    padding-bottom: 28px;
  }
}
