.blue {
  padding: 56px 20px 20px;

  background-color: var(--c-blue-1);
  color: #fcfcfc;
}

.blue .content {
  display: flex;
  flex-direction: column;
  max-width: 1184px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  height: 40px;
  margin-bottom: 20px;

  font-size: 28px;
}

.callToAction {
  margin-bottom: 28px;
}

.locations {
  display: grid;
  grid-row-gap: 28px;
  width: 100%;
  margin-bottom: 28px;
}

.social {
  display: flex;
  flex-direction: column;
  margin-bottom: 56px;
}

.socialLabel {
  margin-bottom: 20px;
}

.white {
  padding: 20px 0;

  background-color: #ffffff;
}

.white .content {
  height: auto;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.norte2020Links {
  list-style: none;
}

.norte2020Link {
  text-align: center;
}

@media (min-width: 651px) {
  .white .content {
    max-width: 650px;
  }
}

@media (min-width: 768px) {
  .blue .content {
    align-items: center;
  }

  .locations {
    grid-column-gap: 20px;
    grid-row-gap: initial;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: initial;
  }

  .social {
    flex-direction: row;
  }

  .socialLabel {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

@media (min-width: 950px) {
  .blue {
    padding: 112px 28px 28px;
  }

  .logo {
    max-width: 176px;
    margin-bottom: 28px;
  }

  .callToAction {
    margin-bottom: 56px;
  }

  .locations {
    grid-column-gap: 28px;
    margin-bottom: 56px;
  }

  .social {
    margin-bottom: 112px;
  }

  .white {
    padding: 28px 0;
  }
}
