.Panel.cs-Panel--hero.cs-Panel--hero2
  .u-defaultThenLargeMargin
  .GridCell.GridCell--alignCenter.GridCell--small
    .GridCell-content
      .ContentFormatter.ContentFormatter--centerHorizontally
        h2.Heading.Heading--brand
          .Heading-light Evolving with each edition

      .u-smallThenDefaultMargin

      .Text.Text--light
        p.u-smallMargin
          ' The first two editions were great experiences not only because
          ' we had a positive impact on students, but also because we
          ' learnt how to make the program better. We now have a better framework.
        p.u-smallMargin
          ' The first edition encompassed: introduction to web development (40%),
          ' introduction to web design (40%), product development (10%),
          ' and business development (10%).  It was an intensive regime of 80 hours
          ' across 2 weeks with the usual theoretical and practical sessions.
          ' The students also had to create a team and work on a project that was
          ' presented at the end of the course to a panel of judges comprised by
          ' elements of partner companies.
        p
          ' We had 16 students. They had remarkably different backgrounds.
          ' We expected computer science, but we had people with training in design,
          ' biomedicine, and even nursing. Three of them got hired on the spot.
          ' One student kept working on the project he started during the course and
          ' he now runs a startup of huge potential.
          ' Even though frequently our direct impact didn’t happen in the way we expected it to,
          ' all of our students are working.
          ' Not only that, they agree that what they learned in Creators School
          ' is useful, and made a difference when they started off.'
          ' The first two editions were great experiences because besides we created a positive impact on ours students, we have also learned how we could improve and create a stronger framework.

  .u-smallThenDefaultMargin
