@import "common/breakpoints";

.root {
  position: relative;
}

.nextArrow,
.prevArrow {
  position: absolute;
  bottom: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;

  background: transparent;
  border: 1px solid var(--c-blue-1);
  border-radius: 100%;
  cursor: pointer;
}

.nextArrow {
  right: 0;
}

.prevArrow {
  right: 72px;
}

.heading {
  margin-bottom: 28px;

  @media (min-width: 950px) {
    margin-bottom: 42px;
  }
}

.container {
  margin-bottom: 74px;
}

.imageContainer {
  display: flex;
  width: 400px;
  height: 432px;
  margin-bottom: 28px;

  @media (min-width: 950px) {
    max-width: 442px;
    max-height: 432px;
  }
}

.image {
  border-radius: 28px;
}

.title {
  margin-right: 28px;

  text-transform: uppercase;
}
