@import "common/breakpoints";

$breakpoint: 800;

.root {
  max-width: var(--post-body-max-width);
  padding: 0 20px;

  @include media(">=800px") {
    padding: 0;
  }
}

.content {
  max-width: 718px;
  margin: 0 auto;
}

.title {
  margin-bottom: 13px;

  font-size: 16px;
  text-transform: uppercase;
}

.links {
  display: flex;
  gap: 26px;

  list-style: none;

  font-size: 20px;
  line-height: 28px;

  @media (min-width: 950px) {
    font-size: 28px;
    line-height: 34px;
  }
}

.link {
  transition: opacity 0.2s ease-in-out;
  &:hover {
    opacity: 0.5;
  }
}
