.root {}

.image {
  margin-bottom: 20px;
}

.name {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .info.left {
    text-align: left;
  }

  .info.right {
    text-align: right;
  }

  .mobile {
    display: none;
  }
}
