.root {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #045cfc;
  z-index: 1;
  animation-name: fadeOut;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.logo {
  margin-right: auto;
  margin-left: auto;
  font-size: 84px;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  99% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  100% {
    width: 0;
    height: 0;
  }
}
