.root {
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  grid-template-columns: repeat(auto-fill, minmax(262px, 1fr));
  width: 100%;
  padding-right: 10px;

  list-style-type: none;
}
