@font-face {
  font-family: "Acta";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/acta-regular.woff2") format("woff2"),
    url("../fonts/acta-regular.woff") format("woff");
}

@font-face {
  font-family: "Acta";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/acta-regular-italic.woff2") format("woff2"),
    url("../fonts/acta-regular-italic.woff") format("woff");
}

@font-face {
  font-family: "Acta";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/acta-bold.woff2") format("woff2"),
    url("../fonts/acta-bold.woff") format("woff");
}

@font-face {
  font-family: "Acta";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/acta-bold-italic.woff2") format("woff2"),
    url("../fonts/acta-bold-italic.woff") format("woff");
}

@font-face {
  font-family: "Acta Display";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/inline/acta-display-extra-bold.woff2") format("woff2"),
    url("../fonts/inline/acta-display-extra-bold.woff") format("woff");
  unicode-range: U+21-7E;
}

@font-face {
  font-family: "Acta Headline";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/acta-headline-extra-bold.woff2") format("woff2"),
    url("../fonts/acta-headline-extra-bold.woff") format("woff");
}

@font-face {
  font-family: Inconsolata;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/inconsolata-regular.woff2") format("woff2"),
    url("../fonts/inconsolata-regular.woff") format("woff");
}
