@import './fonts';
@import './reset';
@import './react-scroll-parallax';

body {
  overflow-x: hidden;

  color: #403f4c;

  font-family: colfax-web, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

@media (min-width: 950px) {
  body {
    font-size: 20px;
    line-height: 28px;
  }
}
