@import "common/breakpoints";

@import "common/fonts";
@import "common/reset";
@import "common/react-scroll-parallax";

body {
  overflow-x: hidden;

  background-color: #fcfcfc;
  color: #403f4c;

  font-family: colfax-web, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  @include media(">=desktop") {
    font-size: 20px;
    line-height: 28px;
  }
}
