@import './fonts.css';
@import './reset.css';
@import './react-scroll-parallax.css';

body {
  overflow-x: hidden;
}

html,
body {
  color: #403f4c;

  font-family: colfax-web, sans-serif;
  font-weight: 400;
}
