@import "./fonts.css";
@import "./reset.css";
@import "./react-scroll-parallax.css";

body {
  overflow-x: hidden;
}

html,
body {
  font-family: colfax-web, sans-serif;
  font-weight: 400;
  color: #403f4c;
}
