* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  backface-visibility: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote {
  padding: 0;
  margin: 0;
}

a,
a:active,
a:focus,
a:link,
a:visited {
  color: currentColor;

  text-decoration: none;
}

address {
  font-style: normal;
}

.visuallyHidden {
  position: absolute !important;

  width: 1px;
  height: 1px;
  overflow: hidden;

  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
