---
title: Subvisual - Community
page: community
---

- content_for :javascripts
  = javascript_include_tag 'community/all'

.Panel.Panel--alternative
  = partial 'nav'
  = partial 'community/hero'
= partial 'community/events'
= partial 'community/open_source'
= partial 'community/we_are_present'
= partial 'subvisual_separator'
= partial 'footer'
