---
title: Subvisual Process
page: work
---

.Panel
  = partial 'nav'
  = partial 'practices/hero'
= partial 'practices/tdd'
= partial 'practices/weekly_iterations'
= partial 'practices/user_centered_design'
= partial 'practices/responsive_design'
= partial 'practices/continuous_learning'
= partial 'work_with_us', locals: { text: "Respecting our principles got us this far. We don't deliver work that doesn't attest to our craftsmanship.", buttonText: "Let's work together" }
= partial 'subvisual_separator'
= partial 'footer'
