.root.padded {
  padding: 0 20px;
}

.root.alternative {
  .content {
    /* margin-right: 0; */
    max-width: 100%;
    margin-left: auto;
  }
}

.content {
  max-width: 1148px;
  margin: 0 auto;
}

@media (min-width: 950px) {
  .root.padded {
    padding: 0 28px;
  }
}
