.root {
  font-family: colfax-web, sans-serif;
  font-weight: 400;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.2s;
}

.root:hover {
  opacity: 0.5;
  transition: opacity 0.2s;
}

.root.faded {
  opacity: 0.5;
}

.root.faded:hover {
  opacity: 1;
}

.root.black {
  color: #402f4c;
}

.root.white {
  color: #fcfcfc;
}

.root.small {
  font-size: 16px;
  line-height: 20px;
}

.root.regular {
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .root.small {
    font-size: 16px;
    line-height: 20px;
  }

  .root.regular {
    font-size: 20px;
    line-height: 28px;
  }
}
