//.easy-Footer
//
// Footer for the easy.money case study page
//
// Styleguide 5.10

.easy-Footer {
  position: relative;

  min-height: 250px;

  padding-bottom: 24.7%;

  overflow: hidden;
}

.easy-Footer-ribbon,
.easy-Footer-figure {
  position: absolute;

  bottom: 0;
}

.easy-Footer-figure {
  left: 50%;

  width: 75%;
  max-width: 350px;

  transform: translate(-50%, 27%);
}

@include media('>=780px') {
  .easy-Footer-figure {
  transform: translate(-50%, 25%);
  }
}

@include media('>=1200px') {
  .easy-Footer-figure {
  transform: translate(-50%, 15%);
  }
}

@include media('>=1500px') {
  .easy-Footer-figure {
  transform: translate(-50%, -3%);
  }
}
