//.easy-ImageShowcase
//
// Displays three  images side by side, positioning all but the main one behind and slightly hidden
//
// markup:
// <div class=.easy-ImageShowcase">
//   <div class=.easy-ImageShowcase-main">
//     <img src="/placeholder.png" style="max-height: 100%;"/>
//   </div>
//   <div class=.easy-ImageShowcase-left">
//     <img src="/placeholder.png" style="max-height: 100%;"/>
//   </div>
//   <div class=.easy-ImageShowcase-right">
//     <img src="/placeholder.png" style="max-height: 100%;"/>
//   </div>
// </div>
//
// Styleguide 5.8

.easy-ImageShowcase {
  position: relative;
}

.easy-ImageShowcase.is-animatable {
  .easy-ImageShowcase-left {
    transform: translateX(-50%);
  }

  .easy-ImageShowcase-right {
    transform: translateX(50%);
  }
}

.easy-ImageShowcase-main {
  // we want to control the stacking position of this element (elements in the normal flow are rendered before positioned ones)
  position: relative;
}

.easy-ImageShowcase-left,
.easy-ImageShowcase-right {
  position: absolute;
  bottom: 0;
  z-index: 1;

  // easeInOutBack
  transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.easy-ImageShowcase-main {
  z-index: 2;
}

.easy-ImageShowcase-left {
  transform: translateX(-5%);
}

.easy-ImageShowcase-right {
  transform: translateX(5%);
}
